<!DOCTYPE html>
<html>
<head>
<script src='/javascripts/angular.min.js'></script>
      <script src='/javascripts/angular-resource.min.js'></script>   
<script src='/javascripts/angular-route.min.js'></script>
 <link href ='/stylesheets/bootstrap.min.css' rel ='stylesheet'>

<link rel="stylesheet" type="text/css" href="/stylesheets/linkedinnew.css">

</head>


<body>



<div class="addheadingbelow">

<div class="profileheading">

<div class= "imagearea">
<img src="/images/profile.jpeg" style="width:200px; height:200px; float:left;">
</div>

<div class="profileinfo">
	<ul style="list-style-type:none">


	<li><h3>{{$Scope.Name $Scope.Surname}}</h3></li>

<li><p class="professionalHeading"style="font-size:16px">You can set here your professional heading. It can be of two lines or three lines depends on individual. </p></li>
<li class="distance" style="color: #999;">San Jose, California</li>
<li class="distance" style="color: #999; font-size: 11px;">Education</li><p class="adjustUniversity">{{scope.universityName}}</p>

<button class="btn btn-primary" name="submit" type="submit" data-trk="nprofile-edit-summary-submit">Send Message</button>
</ul> 
</div>


</div >


</div>



<div class="section1">


<div class="summaryblock1">
	<h3 class="smallH3">Summary</h3>
	</div>
</div>






<div class="section2">
	
	<div  class="header">
	<h3 class="smallH3">Education</h3>
</div >
</div>




<div class="section3">
	<div class="header">
	<h3 class="smallH3">Experience</h3>
</div>
</div>


<div class="section4">
	<div class="header">
	<h3 class="smallH3">Skills and Endorsements</h3><br>
</div>
</div>







<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>