<!DOCTYPE html>
<html>
<head>
 <script src='/javascripts/angular.min.js'></script>
      <script src='/javascripts/angular-resource.min.js'></script>   
<script src='/javascripts/angular-route.min.js'></script>
 <link href ='/stylesheets/bootstrap.min.css' rel ='stylesheet'>

<link rel="stylesheet" type="text/css" href="/stylesheets/linkedinnew.css">



<script src="https://static.licdn.com:443/scds/common/u/lib/fizzy/fz-1.3.8-min.js" type="text/javascript"></script><script type="text/javascript">fs.config({"failureRedirect":"http://www.linkedin.com/","uniEscape":true,"xhrHeaders":{"X-FS-Origin-Request":"/nhome/?trk=nav_responsive_tab_home","X-FS-Page-Id":"nmp-home"}});</script><script></script>
<meta name="globalTrackingUrl" content="//www.linkedin.com/mob/tracking">
<meta name="globalTrackingAppName" content="nhome">
<meta name="globalTrackingAppId" content="webTracking">
<meta name="lnkd-track-json-lib" content="https://static.licdn.com/scds/concat/common/js?h=2jds9coeh4w78ed9wblscv68v-ebbt2vixcc5qz0otts5io08xv&amp;fc=1">
<meta name="lnkd-track-lib" content="https://static.licdn.com/scds/concat/common/js?h=ebbt2vixcc5qz0otts5io08xv&amp;fc=1">
<meta name="treeID" content="3Abn6xPaxxNQ3imAuyoAAA==">
<meta name="appName" content="nhome">
<meta name="lnkd-track-error" content="/lite/ua/error?csrfToken=ajax%3A2898848069855685306">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="pageImpressionID" content="5bb55e7b-a692-481c-8e7e-36bcc99849a2">
<meta name="pageKey" content="member-home">
<meta name="analyticsURL" content="/analytics/noauthtracker">
<link rel="openid.server" href="">
<link rel="apple-touch-icon-precomposed" href="https://static.licdn.com/scds/common/u/img/icon/apple-touch-icon.png">
<!--[if lte IE 8]>
  <link rel="shortcut icon" href="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/16x16/favicon.ico">
<![endif]-->
<!--[if IE 9]>
  <link rel="shortcut icon" href="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico">
<![endif]-->
<link rel="icon" href="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico">
<meta name="msapplication-TileImage" content="https://static.licdn.com/scds/common/u/images/logos/linkedin/logo-in-win8-tile-144_v1.png"/>
<meta name="msapplication-TileColor" content="#0077B5"/>
<meta name="application-name" content="LinkedIn"/>
<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=765zh9odycznutep5f0mj07m4-c8kkvmvykvq2ncgxoqb13d2by-38so5ftc5lv2bbm0jf5rvv1qj-7mxyksftlcjzimz2r05hd289r-4uu2pkz5u0jch61r2nhpyyrn8-7poavrvxlvh0irzkbnoyoginp-4om4nn3a2z730xs82d78xj3be-mea0xb6thaagfbcx9i1vg82z-ct4kfyj4tquup0bvqhttvymms-83892l068mw9yvt4t3qj386b0-9zbbsrdszts09by60it4vuo3q-8ti9u6z5f55pestwbmte40d9-2t8mgj62l3duejjw8chja96jr-3pwwsn1udmwoy3iort8vfmygt-b1019pao2n44df9be9gay2vfw-aau7s6f37xbtq1daynn0bb656&amp;fc=1">
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=3nuvxgwg15rbghxm1gpzfbya2-35e6ug1j754avohmn1bzmucat-mv3v66b8q0h1hvgvd3yfjv5f-14k913qahq3mh0ac0lh0twk9v-1odoqm6uqzmutse6kyk5satus-b7ksroocq54owoz2fawjb292y-62og8s54488owngg0s7escdit-c8ha6zrgpgcni7poa5ctye7il-8gz32kphtrjyfula3jpu9q6wl-51dv6schthjydhvcv6rxvospp-e9rsfv7b5gx0bk0tln31dx3sq-2r5gveucqe4lsolc3n0oljsn1-8v2hz0euzy8m1tk5d6tfrn6j-di2107u61yb11ttimo0s2qyh2-3hnrwiauh2azwtx70po4t4dlr-8zc7dy7k0uqxxso1zmcx40mxo-a7br995b5xb4ztral63cjods4-1j5yeidfdiltik0gx4ekvcwvk-9wkskbn6s2q25rkbrnuwlqric-39kuwv80yvqr74w4oe9bge0md-ejfdcbibyn0amjrpy1bw898cw-370m60vrzsp5vx8i8wie69mme-b0otj9zjsih2zu4s3gxjejik2-czstax4e6y68hymdvqxpwe5so-3g8gynfr7fip2svw23i5ixnw3-e17zy6z51dugr6fy4su92o7de-b0fmwulzun5h9v3vouth2gf36-28z3ukvmh5r9vwyyw1m6jl0pm-afshb42tri7ffk43rbuyr9xny-9x4okbe1lyxrueyldoeros07s-59vhyq5ypaqjoqzsvddyfjnom-c5gwmsdzuvdho9bhvcxqt3a0x&amp;fc=1"></script>
<script type="text/javascript">LI.define('UrlPackage');LI.UrlPackage.containerCore=["https://static.licdn.com/scds/concat/common/js?h=d7z5zqt26qe7ht91f8494hqx5&fc=1"][0];</script>
<script type="text/javascript">if(typeof LI==='undefined'||!LI){window.LI={};}
LI.JSContentBasePath="https://static.licdn.com/scds/concat/common/js?v=build-1199_8_44315-prod&fc=1";LI.CSSContentBasePath="https://static.licdn.com/scds/concat/common/css?v=build-1199_8_44315-prod&fc=1";LI.injectRelayHtmlUrl="https://static.licdn.com/scds/common/u/lib/inject/0.4.2/relay.html";LI.injectRelaySwfUrl="https://static.licdn.com/scds/common/u/lib/inject/0.4.2/relay.swf";LI.comboBaseUrl="https://static.licdn.com/scds/concat/common/css?v=build-1199_8_44315-prod&fc=1";LI.staticUrlHashEnabled=true;</script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=25kaepc6rgo1820ap1rglmzr4-c19zsujfl1pg46iqy33ubhqc5-c5ebkkd7pexovk435l30l1dq5-ascppxxu6dqpt5sppka77kdt0-8ux0lklo90tb28s8gfw2ojhzb-5n5dp3pn32p4zstdag5cbpr1-eehwe5piqwg4elnl8jvj9vpx-amjylk8w8039f2lwlov2e4nmc-47qp7uw3i5i1pqeovirlcc070-3xqgp8jf23j83i1nnx1yxga4o-78bwuml1uwwm9yb9sr3bw68qb-4izdpghi4r0b0uhhivo34xsvq-9a0rznn8mui615f4o75jq7hz2-dta7xzw3a1itnwo44eolyusn5-67xlf04tp198rsgnplkzm3mv0-9undj1hjru2i7vjjlqtb52ho2-7vr4nuab43rzvy2pgq7yvvxjk-4yhpyv3p9r574wkkbe8kcd2ou&amp;fc=1"></script>
<script type="text/javascript">fs._server.fire("dc06e7eb13dac71350de2980bb2a0000-1",{event:"before",type:"html"});</script><meta name="remote-nav-init-marker" content="true"/>
<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=a6c7eivr8umrp20gkm4s5m4kd-ezjv8ls9tvool235aseft42ek">
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=ditm8xdycl29ta8gqk5tpmxf8-czstax4e6y68hymdvqxpwe5so"></script>
<script type="text/javascript">fs._server.fire("dc06e7eb13dac71350de2980bb2a0000-1",{event:"after",type:"html"});</script>
<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=cfsam81o5sp3cxb7m0hs933c4-24o3wkkwwvmwutak3nlw5lx4n-154kxlhs4z8rrtcvqfbage7t-aa5o3jcmoq67jm4af3a933gw7-5f340g5yhr0lmw2pgno437wcy-2qqwq28bzg8r7qzzcmb5172gm-9ewewj5n8n2t2cy4zi4bx1h06-5l0jay4pfoew18nedp4m8yern-3kxn280jbjifdpz9hjpe0nl64-e6ngnxj94o59jnla2nbeg59xg-aqatrh64t5i533h03ger8nmga-2qk68hrxrqya74okuimf9dv0c-6ia9x913wmx8nnp30heznhhir-dh9s2pgf6ghcuifobl7cvitf9&amp;fc=1">
<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=f19fdjavoxq0kzdq01iboyx2a-dzfaxq2tzigldi96t55r9m6fz-eo6ekrq8tl19foyds3s5sejdo-9kttnpvgur443xqjy83aclafb-1ds3t0xr1q0g2gzbh5itosli2-4oev6cznomzgkwowug2dmy67s-52crld9ciqa5xll3o3e1nxf9-b689f9uur2gf1113n5y5x1bl5-9717wddn2yt3mo2khkedo1v8n-5poue69vqbbles97diqbd3uqo&amp;fc=1">
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=dghrw6kdnayrgyt6dup7arx7c-7jfvttl7vygp7k2t85gjfr4du-tg9syoi3w6d64s0r3mhn1eoe-8kt9l6u9r6qhnolcomsy42zjk-8wqmyelo7fk8xj21vi0ct0cxe-2boho912dx1mfz7oijzgmg5oz-7bcpfaukrct3byaa7fgvhmx5x-6y27fpkr2g7vlapoo8ulssbxg-9zxo4bo4t0grn8avvuc9kgk1y-8rftyfngi1fzle3kkxocaaoei-3m0wwwerqvp8618uhx52in5b-damsfla6y50oum55maie49y2b-1ncejyqogc3etc5w4sgfegedd-71usve2px363b1c5pfj9fl3m3-1g2m96hp3771nc64o5f6rci1k-desdb8ckwqfizu4iap272t667-2dzvpjvb927qbsnxts39b5lhm-2rwnq8ar01i5mbiqrriwrxctf-ef3elbvaio1ryhqhel0ra3b7c-89975u69r7icn0y4mehd36n94-6cx4wg5dziro11s71h54ywyvd-3jvkudqvvbal7jys4p2ddzoxp-2zkr6kl9wq9nj7407ylnuj2wk-d0bwq3ye3w3x1ssabwlz9xg1w-7ngkvs4ztavgbukk2v1ke8uuj-ct589ome4k7j4voq6vxhjrvox-3b2aau3b1pwl945sttlnh49ng-877k3d4yejrc7udu8m1msx8aw-4ae29d8txduqt0engaq7qxh6x-dmoncqcx155s3qdurgkt4bbso-3mfdh15yv4dvkys8ghzfcggmw-uw6p4y37ljyw91dkk2zcq6o3-22lxoc5vrp0pj6bba6hblqk1q-5oocaabr5dk11mxeamufujvum-2aheqe3nhxnmij21k0ahj0q9j-b1qfz41z3b3boi2i3gjuzglmx-dhs5h3xdnvm03eb78ndldwrtr&amp;fc=1"></script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=5qpuv3f7qc7x4fi6lo93ylubc-503xj432ik02vmipaqvsshxu6-bf6cyf7u8f072dzokoklttigj-6y9mbi0r2o6usgrmm8vm1vw4k&amp;fc=1"></script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=1fvyhaxxcnq1h0l639z2kvizp-73n84khxtyw2u6ko9zlbt1dns-blav6d46btdcxqhqcnm7n6jwr-81bj34tqiv0slc1x70gpym7au-bv6bwc940y9etw2y1a8qnnpxo-80la0hqwof8cm7zv06l7t13ll-14pth5rsa4gbp5faizspalms5-b841ubqg5kpt2zli1g63b0w2f-e5jx6vro45tbbojfjosd7iyqv-ajmjeoe7ws3vqza18t2z8lryn-1uzp0z7ak30xwrtz8wp6f96sl-ecyy8swcru56g9pha3h319sb7-expx53nsrrnf01eulxf0mcu8k-495c50siuofq2wkt2shjzquud-brku5doaonr1qhk83dvlperhc&amp;fc=1"></script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=dh9d8n06u7ke1jgaaflc9kykp-7v2r2obkpsvezgwzsbzkrj2wg-2bu8xuljmvyk198nas6fgwc25-e93zy4l37u8owcpjca0bprn3l-4hbqp7aoxoph1cnia8g1cujwf-1wq18rvqnu5ju66mrccyhjupj-amxcegas8j3nrj9lywl7r4sgq-winfij2ziem02cyl7ulgjat8-b71k9o2emd2l1rc9jndeyp0vp-1p8qsw059vu91syxw98t2pqeg-5xtrr73iqizkozarsjsjd8ch7-13g95d1iw2l55h6ca5l91p7vv-bkt8uks5a73x505pnxz851k9x&amp;fc=1"></script>
<script type="text/javascript">document.cookie='lang="v=2&lang=en-us&c=&fid=5e6521c46492492297407979bb7b74c8"; domain=linkedin.com; version=0; path=/;';</script><title>Welcome! | LinkedIn</title>
<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=c52xqty03kc2uumayfdgw52ha-bk92zz77hzhkgsw77ffvbn099-9isvvzw61fpveso9doy1mzsas-dxl1g2k3wk6qpss8oq9lwul9c-95t6vcl2cgpx3042md6zm5jzo&amp;fc=1">
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=4zslye83akez5s4mf91hrq425-95d8d303rtd0n9wj4dcjbnh2c-b0i2ltvivggf15dlzc359ook3-7r1hr0x81n4m5vdil2awiladb-alv1b6ogz9d0wdvu14407mm19-2xkrig2d2e38eolz4s6d5kfkh-8czwq9t5lhsf1yk8ncis7lv0l&amp;fc=1"></script>
<script type="text/javascript">window.onerror=_.once(function(msg,url,lineNum){var e=window.track&&window.track.errors;if(e){e.push({code:e.codes.HP_STREAM_JS_EXCEPTION,message:(msg||'')+', '+(url||'')+', '+(lineNum||'')});}});</script>
<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=cy89ctupapg9eindjcjkq4zpx-7lftzzei8hhlaf38u1em0dyno-2pqweqq16iq8dg5uw0jvgw9m6-ekx5a6ltft6rpg5wqp7kgh3qj-88ublprx6ic0gvk5jvli4r1ue-swugwfl187h4bj4zfo6zz3ne-cik4159mwg96u8gkkpin70pjc-9tbz5g2m7vj36p1qnmhrwxfa7&amp;fc=1">
<link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=20lil404uv9ki3m9c18v0tfzd-e3nrwj0o2ykg4o6hjgpfhx4nk-2ofz2wi8e47x34uvndxzcoa0y-a0coala8rwscdnkutwceemrom-9l99zlwrehf6a29tfenyn0y3c&amp;fc=1">







</head>


<body data-ng-app="profileEjs">


<div class= "navigatorClass">
<input id="inSlowConfig" type="hidden" value="false"/>
<script type="text/javascript">document.body.className+=" js ";</script>
<script type="text/javascript">fs._server.fire("dc06e7eb13dac71350de2980bb2a0000-2",{event:"before",type:"html"});</script><div id="a11y-menu" class="a11y-skip-nav-container">
<div class="a11y-skip-nav a11y-hidden">
<a href="#a11y-content" id="a11y-skip-nav-link">Skip to main content</a>
</div>
<script id="control-http-12274-exec-39011339-1" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12274-exec-39011339-1','A11yMenu',{jumpToText:'Jump to: <strong>Summary<\/strong>',skipToText:'Skip to: <strong>Search<\/strong>',feedbackText:'Accessibility Feedback',closeText:'close',anchorText:'Content Follows:',moreText:'More in-page navigation options below',smallPageText:'Not much to look at here. Go directly to content.',searchUrl:'/vsearch/f'});</script>
<script id="control-http-12274-exec-39011339-2" type="linkedin/control" class="li-control">LI.KbDialogDependencies={jsFiles:["https://static.licdn.com/scds/concat/common/js?h=37zc8dm8vu14f1neta1ponx0o"],cssFiles:["https://static.licdn.com/scds/concat/common/css?h=9qwmbyyfabl3upqh3cyzbhd49"]};LI.Controls.addControl('control-http-12274-exec-39011339-2','kb.shortcuts',{homepageUrl:'https:\/\/www.linkedin.com\/nhome\/?trk=global_kb',profileUrl:'https:\/\/www.linkedin.com\/profile\/view?trk=global_kb',editProfileUrl:'https:\/\/www.linkedin.com\/profile\/edit?trk=global_kb',inboxUrl:'https:\/\/www.linkedin.com\/inbox\/#messages?trk=global_kb',jobsUrl:'https:\/\/www.linkedin.com\/job\/home?trk=global_kb',settingsUrl:'https:\/\/www.linkedin.com\/secure\/settings?req=&trk=global_kb',influencerUrl:'https:\/\/www.linkedin.com\/influencers?trk=global_kb'});</script>
</div>
<div id="header" class="global-header responsive-header nav-v5-2-header responsive-1 remote-nav" role="banner">
<div id="top-header">
<div class="wrapper">
<div class="header-section first-child">
<h2 class="logo-container" tabIndex="0">
<a href="https://www.linkedin.com/?trk=nav_logo" class="logo" id="in-logo">
LinkedIn
</a>
</h2>
<form id="global-search" role="search" action="/vsearch/f" method="get" accept-charset="UTF-8" name="commonSearch" class="global-search voltron voltron-vertical-selector" data-li-lix-tests='{
        "networkHeadline":              "people",
        "taSuggestionRecolor":          "blue",
        "actionsEnabled":               false,
        "taGlyphIcons":                 false,
        "typeaheadDebounceTime":        "n1"
      }'>



<fieldset>
<legend>Find People, Jobs, Companies, and More</legend>
<div class="search-scope">
<label for="main-search-category">Search for:</label>
<select name="type" id="main-search-category" class="search-category">
<option class="all" data-li-advanced-link="/vsearch/f?adv=true&amp;trk=federated_advs" data-li-styled-dropdown-class="all" data-li-search-action="/vsearch/f" data-li-ghost-text="Search for people, jobs, companies, and more..." data-li-trk-code="vsrp_all_vertical_selector_item" title="Search for people, jobs, companies, and more..." value="all">All</option>
<option class="people" data-li-advanced-link="/vsearch/p?adv=true&amp;trk=advsrch" data-li-styled-dropdown-class="people" data-li-search-action="/vsearch/p" data-li-ghost-text="Search people..." data-li-trk-code="vsrp_people_vertical_selector_item" title="Keyword, name, company or title" value="people">People</option>
<option class="jobs" data-li-advanced-link="/vsearch/j?adv=true&amp;trk=hb_advjs" data-li-styled-dropdown-class="jobs" data-li-search-action="/vsearch/j" data-li-ghost-text="Search jobs..." data-li-trk-code="vsrp_jobs_vertical_selector_item" title="Keyword, company or job title" value="jobs">Jobs</option>
<option class="companies" data-li-styled-dropdown-class="companies" data-li-search-action="/vsearch/c" data-li-ghost-text="Search companies..." title="Keyword" data-li-trk-code="vsrp_companies_vertical_selector_item" value="companies">Companies</option>
<option class="groups" data-li-styled-dropdown-class="groups" data-li-search-action="/vsearch/g" data-li-ghost-text="Search groups..." data-li-trk-code="vsrp_groups_vertical_selector_item" title="Keyword" value="groups">Groups</option>
<option class="edu" data-li-styled-dropdown-class="edu" data-li-search-action="/vsearch/e" data-li-ghost-text="Search universities..." data-li-trk-code="vsrp_edu_vertical_selector_item" title="Keyword" value="edu">Universities</option>
<option class="content" data-li-styled-dropdown-class="content" data-li-search-action="/vsearch/ic" data-li-ghost-text="Search posts..." data-li-trk-code="vsrp_content_vertical_selector_item" title="Keyword" value="content">Posts</option>
<option class="inbox" data-li-styled-dropdown-class="inbox" data-li-search-action="/inbox/search/route" data-li-ghost-text="Search inbox..." data-li-trk-code="vsrp_inbox_vertical_selector_item" title="Keyword" value="inbox">Inbox</option>
</select>
</div>


<script id="control-http-12274-exec-39011342-3" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12274-exec-39011342-3','StyledDropdown',{name:'universal-search-selector',align:'left',listClass:'search-selector',autoPosition:false,containerClass:'global-nav-styled-dropdown'});</script>
<div class="search-box-container" id="search-box-container">
<span id="search-autocomplete-container" title="Tip: You can also search by keyword, company, school..." class="/typeahead">
<label id="main-search-box-label" for="main-search-box" class="ghost">Search for people, jobs, companies, and more...</label>
<input data-ng-model="member" name="keywords" id="main-search-box" class="search-term typeahead-instant" type="text" value="" autocomplete="off" dir="ltr" placeholder="Search for people, jobs, companies, and more...">
<span id="typeahead-loader"></span>
<button id="clear-main-search" type="button">
<span class="description">Clear</span>
</button>
<span id="search-typeahead-container"></span>
</span>
<input name="orig" type="hidden" value="GLHD">
<input name="rsid" type="hidden">
<input name="pageKey" type="hidden" value="member-home">
<input name="trkInfo" id="main-search-trkInfo" type="hidden" value="">
</div>
<button name="search" value="Search" class="search-button" type="submit">
<span>Search</span>
</button>
</fieldset>



<div class="advanced-search-outer">
<div class="advanced-search-inner">
<a href="/vsearch/f?adv=true" class="advanced-search" id="advanced-search">Advanced
</a>
</div>
</div>
</form>
<script id="control-http-12274-exec-39011342-4" type="linkedin/control" class="li-control">LI.i18n.register('universal-search-connections','Connections');LI.i18n.register('universal-search-companies','Companies');LI.i18n.register('universal-search-groups','Groups');LI.i18n.register('universal-search-features','Features');LI.i18n.register('universal-search-skills','Skills');LI.i18n.register('universal-search-skill','Skill');LI.i18n.register('universal-search-suggestions','Suggestions');LI.i18n.register('universal-search-refine','Refine');LI.i18n.register('universal-search-search-current-for','Search current results for <strong>{0}<\/strong>');LI.i18n.register('typeahead2-no-matching-results','No matching results');LI.i18n.register('typeahead2-search-connections','Connections');LI.i18n.register('typeahead2-search-people','People');LI.i18n.register('typeahead2-search-companies','Companies');LI.i18n.register('typeahead2-search-groups','Groups');LI.i18n.register('typeahead2-search-features','Features');LI.i18n.register('typeahead2-search-skills','Skills');LI.i18n.register('typeahead2-search-skill','Skill');LI.i18n.register('typeahead2-search-suggestions','Suggestions');LI.i18n.register('typeahead2-search-schools','Universities');LI.i18n.register('typeahead2-search-showcases','Showcase Pages');LI.i18n.register('typeahead2-search-degrees','Degrees');LI.i18n.register('typeahead2-search-fields-of-study','Fields of study');LI.i18n.register('typeahead2-cap-prospects','Profiles');LI.i18n.register('typeahead2-cap-jobs','Jobs');LI.i18n.register('typeahead2-cap-projects','Projects');LI.i18n.register('typeahead2-search-discussion-participants','Participants');LI.i18n.register('typeahead2-search-group-members','Group Members');LI.i18n.register('typeahead2-search-input-title-no-results','No suggestions found.');LI.i18n.register('typeahead2-search-input-title-singular','One suggestion. Use up and down keys to navigate.');LI.i18n.register('typeahead2-search-input-title-plural','Multiple suggestions. Use up and down keys to navigate.');LI.i18n.register('typeahead2-connect','Connect');LI.i18n.register('typeahead2-message','Message');LI.i18n.register('typeahead2-send-inmail','Send InMail');LI.i18n.register('typeahead2-post','Post');LI.i18n.register('typeahead2-follow','Follow');LI.i18n.register('typeahead2-view','View');LI.i18n.register('typeahead2-edit-profile','Edit Profile');LI.TypeaheadDataSourceUrls={COMPANY:"/ta/company",INDUSTRY:"/ta/industry",REGION:"/ta/region",GEOGRAPHY:"/ta/geo",GROUP:"/ta/group",JOB_TITLE:"/ta/titleV2",JOB_FUNCTION:"/ta/jobfunc",SKILL:"/ta/skill",LANGUAGE:"/ta/language",SCHOOL:"/ta/school",DEGREE:"/ta/degree",FIELD_OF_STUDY:"/ta/fieldofstudy",MY_NETWORK:"/ta/mynetwork",MY_GROUP:"/typeahead/mygroup",FIRST_DEGREE_MY_NETWORK:"/ta/my1stnetwork",SITEFEATURE:"/ta/sitefeature",FEDERATOR:"/ta/federator",AUTOCOMPLETE:"/ta/autocomplete",CAP_PROSPECTS_PROJECTS_JOBS:"/cap/lookup/capTaAjax"};LI.Typeahead2Dependencies={scripts:["https://static.licdn.com/scds/concat/common/js?h=aujmp9r1kj9k9x4ezyk8ahfbk-62cjxbtqyt2o85tawwwz12otx-a2blfu8y091887ailkls7jxq3-btg5gaqp36lg06pz3c61bdbll"]};LI.TwitterTADependencies={scripts:["https://static.licdn.com/scds/concat/common/js?h=842z1v7yoky57vb9dcwzwlqs6-8yyzhc29dmi76fhj5ivtx56sq"]};if(LI.isSandboxed){window.LI.TypeaheadDataSourceUrls=LI.TypeaheadDataSourceUrls;window.LI.Typeahead2Dependencies=LI.Typeahead2Dependencies;window.LI.TwitterTADependencies=LI.TwitterTADependencies;}
LI.Controls.addControl('control-http-12274-exec-39011342-4','UniversalSearch',{field:"main-search-box",fieldName:"keywords",searchTypeMenu:"main-search-category",searchLink:"advanced-search",clearSelector:"clear-main-search",loadingImgSrc:"https://static.licdn.com/scds/common/u/img/anim/anim_loading_16x16.gif",includeSearchSuggestion:false,includeSearchPlusAC:false,includeSearchRefine:false,includeSearchAutoComplete:false,includeTypeaheadTracking:true,includeTypeaheadRequestTracking:false,includeTypeaheadInitTracking:true,includeRankHide:false,includeTARefactorPhaseOne:true,includeTAInstantSurface:true,includeTAInstantSurfaceClipped:true,includeTAInstantSurfaceTransparent:true,includeActionsInTypeahead:false,removeTAClientSort:true,removeSkillsTA:true,removeGroupsTA:false,trkInfoField:"main-search-trkInfo",enableEduSearch:true,enableShowcaseSearch:true,showcasePrimaryCount:"control",showcaseSecondaryCount:"control",networkHeadline:"people",taSuggestionRecolor:"blue",taGlyphIcons:false});</script>
</div>





<div class="header-section last-child">
<ul class="nav utilities" role="navigation">
<li class="nav-item activity-tab" data-li-activity-type="messages" data-li-new-count="0">
<a href="/inbox/#messages?trk=nav_utilities_inbox" class="activity-toggle inbox-alert">
<span class="caption">Inbox. You have 0 new messages</span>

</a>
<div class="activity-container" id="inbox">
<div class="activity-drop activity-drop-loading">
<div class="activity-drop-body"></div>
</div>
</div>
</li>
<li class="nav-item activity-tab" data-li-new-count="0" data-li-action-type-click="ntf_click_notifications_icon" data-li-action-type-pagination="ntf_scroll" data-li-activity-type="notifications">
<a href="#notifications" class="activity-toggle notifications-alert">
<span class="caption">Notifications. You have 0 unseen notifications</span>
</a>
<div class="activity-container" id="notifications">
<div class="activity-drop activity-drop-loading">
<div class="activity-drop-body"></div>
</div>
</div>
</li>
<li class="nav-item activity-tab" data-li-activity-type="addconnections">
<a id="dropdowntest" href="/fetch/importAndInviteEntry?trk=nav_utilities_add_connx" class="activity-toggle add-connections-btn">
<span class="caption">Add Connections</span>
</a>
<span id="header-invitations-count" class="gem " data-gem-new-invites="0" data-gem-pending-invites="" aria-label="You have 7 unseen invitations">

</span>
<div class="activity-container" id="adds">
<div class="activity-drop activity-drop-loading">
<div class="activity-drop-body">
<div class="activity-drop-header">
<h3>Add Connections <span class="sub-nav-header-arrow"></span></h3>
</div>
<div id="add-connection-container"></div>
</div>
</div>
</div>
</li>
<li class="nav-item account-settings-tab">
<a href="https://www.linkedin.com/profile/view?id=370248510&amp;trk=nav_responsive_tab_profile_pic" class="account-toggle">
<img src="https://static.licdn.com/scds/common/u/img/spacer.gif" data-li-src="https://media.licdn.com/mpr/mpr/shrink_20_20/AAEAAQAAAAAAAAM1AAAAJDRhNmY5ZDZhLWY1OTEtNDRkYi1hZDFhLWZiNTAzMjczYTJjNw.jpg" id="img-defer-id-1-11346" class="img-defer-hidden img-defer nav-profile-photo" alt="Mahesh Dhamgunde" height="20" width="20">
</a>
<div class="account-sub-nav" id="account-sub-nav">
<div class="account-sub-nav-options">
<div class="account-sub-nav-header">
<h3>Account &amp; Settings<span class="sub-nav-header-arrow"></span></h3>
</div>
<div class="account-sub-nav-body">
<ul class="account-settings">
<li class="self">
<div class="account-settings-link">
<span class="act-set-row">
<span class="act-set-icon">
<a href="https://www.linkedin.com/profile/view?id=370248510&amp;trk=nav_responsive_tab_profile_pic">
<span class="act-set-icon-image">
<img src="https://static.licdn.com/scds/common/u/img/spacer.gif" data-li-src="https://media.licdn.com/mpr/mpr/shrink_20_20/AAEAAQAAAAAAAAM1AAAAJDRhNmY5ZDZhLWY1OTEtNDRkYi1hZDFhLWZiNTAzMjczYTJjNw.jpg" id="img-defer-id-2-11346" class="img-defer-hidden img-defer nav-profile-photo" alt="Mahesh Dhamgunde" height="20" width="20">
</span>
</a>
</span>
<span class="act-set-name">
<a href="https://www.linkedin.com/profile/view?id=370248510&amp;trk=nav_responsive_tab_profile_pic" class="act-set-name-split-link">
Mahesh Dhamgunde </a>
</span>
<span class="act-set-action">
<a href="https://www.linkedin.com/uas/logout?session_full_logout=&amp;csrfToken=ajax%3A2898848069855685306&amp;trk=nav_account_sub_nav_signout" class="account-submenu-split-link">
Sign Out
</a>
</span>
</span>
</div>
</li>
<li class="account-type">
<a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=nav_account_sub_nav_upgrade" class="account-settings-link" target="_self">
<span class="act-set-row">
<span class="act-set-icon"><span class="act-set-icon-image"></span></span>
<span class="act-set-name">
Account: Basic
</span>
<span class="act-set-action">
Try Premium
</span>
</span>
</a>
</li>
<li class="job-posting">
<a href="/job/consumer/manageConsumer?trk=nav_account_sub_nav_job_manage" class="account-settings-link">
<span class="act-set-row">
<span class="act-set-icon"><span class="act-set-icon-image"></span></span>
<span class="act-set-name">
Job Posting
</span>
<span class="act-set-action">
Manage
</span>
</span>
</a>
</li>
<li class="language-settings">
<a href="/settings/?tab=account&amp;modal=nsettings-select-language&amp;trk=nav_account_sub_nav_language" class="account-settings-link">
<span class="act-set-row">
<span class="act-set-icon"><span class="act-set-icon-image"></span></span>
<span class="act-set-name">
Language
</span>
<span class="act-set-action">
Change
</span>
</span>
</a>
</li>
<li class="privacy-settings">
<a href="/settings/?trk=nav_account_sub_nav_settings" class="account-settings-link">
<span class="act-set-row">
<span class="act-set-icon"><span class="act-set-icon-image"></span></span>
<span class="act-set-name">
Privacy & Settings
</span>
<span class="act-set-action">
Manage
</span>
</span>
</a>
</li>
<li class="help-center">
<span class="qh-icon"></span>
<span class="account-settings-link">
<a href="https://help.linkedin.com/app/home/loc/hd/trk/member-home/" target="_blank" rel="nofollow" class="act-set-name">Help Center</a>
<a href="https://help.linkedin.com/app/home/loc/hd/trk/member-home/" target="_blank" rel="nofollow" class="act-set-action">Get Help</a>
<ul class="qh-page-tours"></ul>
</span>
</li>
</ul>
</div>
</div>
</div>
</li>
</ul>



<script id="control-http-12274-exec-39011348-5" type="linkedin/control" class="li-control">LI.HeaderNotificationsDependencies={inbox_v2:{jsFiles:["https://static.licdn.com/scds/concat/common/js?h=em1445ff7g1bpi7y8m5y0fje5-1n4e8uouq5kkqwqtqsbyz9htb-tg9syoi3w6d64s0r3mhn1eoe-e4t0yj6tjycwmm5gb2d6tkiqd-9em015ze596qewoakxuirovjk-e0q4a2r7x653g26m28d0l8kax-4qz3z5glyk9pzsoyajk18ss8g"]},notifications:{jsFiles:["https://static.licdn.com/scds/concat/common/js?h=dvj11nftcavg8p5rr5mglbm1-6jzag5j63lv518e71ak7q7qr8-b1qfz41z3b3boi2i3gjuzglmx"]},addconn:{jsFiles:["https://static.licdn.com/scds/concat/common/js?h=2ntkno717mjcy050nmzzfz35g-ao1xju9o190x730tor4dx5e2k-9qiqdz1qfr0ylhlzx0uchfe0n-5917aypmv6boky5imd1ul151j-69z6s0ix2jomf8iuyiaisax2c-dxpocwh62sryg37yjgf91gz2d-2v37e3rhzhu2vgf9fein2vg46-ckiqndb4kich6r6tp64b279yo-cn09yemneeckvavpz8itjb7r-7xeyulyf4fohznkk3ocaysod1-agou94du297ftqo5xkk6mmk9o-czfqqo11stan2rfra037i4etp-eq52fxkjnjj4hbfyo6nxe562y-bi0c9hjoyxd9uydpqy0dvxtq2-enhbxqhf6yqkap76oncp3tppc-dswkcu2yd47alod75c6b48ett-81w4dkv7637vz103cpoa89hg4-a5g6y1g19qwm5u99tm136anb8-50078ji3ys2kk252gga6l8q8l-46p7xpc7qzy2tbvt9uuajevzj-6jzag5j63lv518e71ak7q7qr8-dlb0qpbyvad0l4jncff23p3eg-tmzpyduipsmziaww7rplm6w-2deno6zmrqxwca1yzy5brmpo8-1ofnme3shu8vp6e24p7b5s27r"],cssFiles:["https://static.licdn.com/scds/concat/common/css?h=8hi9f17qzxy1dy5dumkhpgkom-et5x0nwa4g6zhuz0ap4qn1hja"],url:'/chrome/global_nav_pymk_invitations?resultType=pymk&location=desktop-global-nav-first-fetch&records=3&count=3',pymk:'/chrome/global_nav_pymk?location=desktop-global-nav-backfill',invitations:'/chrome/global_nav_invitations',markAsSeen:'/inbox/summary'}};LI.Controls.addControl('control-http-12274-exec-39011348-5','HeaderNotifications',{enableRealTimeUpdate:false,hoverMenus:true,remoteMenus:{messages:{url:'/inbox/summary',dependencies:'LI.HeaderNotificationsDependencies.inbox_v2'},notifications:{backfillUrl:'/inbox/activity/notifications/more/v2',dependencies:'LI.HeaderNotificationsDependencies.notifications',markAsReadOnClick:{url:'/inbox/notifications-click-track?csrfToken=ajax%3A2898848069855685306'},infiniteScroll:true,url:'/inbox/activity/notifications/v2?trk=gnav-not-all'},addconnections:{dependencies:'LI.HeaderNotificationsDependencies.addconn'}}});</script>
</div>
</div>
</div>
<div data-ng-controller="signoutController">
<li class="button">
<input type="button" style="float:right;"name="signin" value="Sign out" data-ng-model="signin" id="signin" tabindex="3" class="btn-secondary" data-ng-click="logout()">
</li>
</div>



<div data-ng-controller="searchController" data-ng-init="lastLoginLoad()">

<div class="responsive-nav" id="responsive-nav-scrollable">
<div class="wrapper">
<ul class="nav main-nav" role="navigation">
<li class="nav-item selected">
<a href="/home?trk=nav_responsive_tab_home" class="nav-link">
Home
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
Profile
</a>
<ul class="sub-nav" id="profile-sub-nav">
<li>
<a href="/profile/edit?trk=nav_responsive_sub_nav_edit_profile">
Edit Profile
</a>
</li>
<li>
<a href="/wvmx/profile?trk=nav_responsive_sub_nav_wvmp">
Who's Viewed Your Profile
</a>
</li>
<li>
<a href="/pulse/activities/mahesh-dhamgunde+0_1FbiENaSNrTIyD-4bUSAnl?trk=nav_responsive_sub_nav_yourupdates">
Your Updates
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" data-ng-click="viewConnections()"class="nav-link">
Connections
</a>
<ul class="sub-nav">
<li>
<a href="#">
Keep in Touch
</a>
</li>
<li>
<a href="#">
Add Connections
</a>
</li>
<li>
<a href="#">
Find Alumni
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/edu/?trk=nav_responsive_sub_nav_edu" class="nav-link">
Education
</a>
<ul class="sub-nav">
<li>
<a href="/edu/university-finder?trk=nav_responsive_tab_edu">
University Finder
</a>
</li>
<li>
<a href="/edu/fos?trk=nav_responsive_tab_edu">
Field of Study Explorer
</a>
</li>
<li>
<a href="/edu/rankings/us?trk=nav_responsive_tab_edu">
University Rankings
</a>
</li>
</ul>
</li>
<li class="nav-item">
<input type="button" data-ng-click="searchMembers()" value="Search Members"> 
</li>
<li class="nav-item">
<button  id="nav-link-interests" class="nav-link no-link">
Interest
</button>
<ul class="sub-nav" id="interests-sub-nav">
<li>
<a href="/company/home?trk=nav_responsive_sub_nav_companies">
Companies
</a>
</li>
<li>
<a href="/myGroups?trk=nav_responsive_sub_nav_groups">
Groups
</a>
</li>
<li>
<a href="/today/?trk=nav_responsive_sub_nav_pulse">
Pulse
</a>
</li>
<li>
<a href="/redir/redirect?url=http%3A%2F%2Fwww%2Eslideshare%2Enet&amp;urlhash=nLLC" target="_blank">
SlideShare
</a>
</li>
</ul>
</li>
</ul>
<script id="control-http-12274-exec-39011351-6" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12274-exec-39011351-6','NavAccessibility',{linkElement:"nav-item",subNav:"sub-nav",activeClass:"active"});</script>
<ul class="nav premium-nav" role="navigation">
<li class="nav-item">
<button class="nav-link no-link">
Business Services
</button>
<ul class="sub-nav" id="business-sub-nav">
<li>
<a href="/jobs/post?editAttributes=&amp;trk=nav_responsive_sub_nav_post_job">
Post a Job
</a>
</li>
<li>
<a href="/redir/redirect?url=http%3A%2F%2Fbusiness%2Elinkedin%2Ecom%2Ftalent-solutions%3Fsrc%3Dli-nav%26trk%3D&amp;urlhash=NyH8" target="_blank">Talent Solutions</a>
<li>
<li>
<a href="/ads/start?utm_source=li&amp;utm_medium=el&amp;utm_campaign=hb_tab_ads&amp;src=en-all-el-li-hb_tab_ads&amp;trk=nav_responsive_sub_nav_advertise" target="_blank">
Advertise
</a>
</li>
<li>
<a href="/redir/redirect?url=http%3A%2F%2Fsales%2Elinkedin%2Ecom%3Ftrk%3Dlss_global_nav_link2micro%26src%3Dli-nav&amp;urlhash=apdw" target="_blank">
Sales Solutions
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="" id="" class="nav-link" data-li-phref="" target="_self">
{{log}}
</a>
</li>
</ul>
<script id="control-http-12274-exec-39011352-7" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12274-exec-39011352-7','NavAccessibility',{linkElement:"nav-item",subNav:"sub-nav",activeClass:"active"});</script>
</div>
</div>
</div>
</div>











 <div data-ng-controller="headingProfile">

<button type="button" id="button_id1" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="icon-pencil"></i></button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-header">
        
        <h4 class="modal-title">Edit Profile</h4>
     </div>
      <br>
     <div class="editBody">
<label for="Name" class="col-sm-6 control-label">Name</label>
<input type="text" class="form-control" id="Name" name="Name" data-ng-model="editName" >

<label for="Surname" class="col-sm-6 control-label">Surname</label>
<input type="text" class="form-control" id="Surname" name="Surname" data-ng-model="editSurName">

<label for="heading" class="col-sm-6 control-label">Professional heading</label>
<input type="text" class="form-control" id="heading" name="heading" data-ng-model="editHeading" >

<label for="City" class="col-sm-6 control-label">City</label>
<input type="text" class="form-control" id="City" name="City" data-ng-model="editCity">

<label for="password" class="col-sm-6 control-label">State</label>
<input type="text" class="form-control" id="State" name="State" data-ng-model="editState">
<br><br>
<button class="btn btn-primary" name="submit" type="submit" data-trk="nprofile-edit-summary-submit" data-ng-click="editparam();getparam()">Save</button>
<button class="btn btn-secondary btn-cancel" type="button" data-trk="nprofile-edit-summary-cancel" data-ng-click="">Cancel</button>
<br>
<br>
<p></p>

</div>

</div>
</div>
</div>

<div class="addheadingbelow">

<div class="profileheading">

<div class= "imagearea">
<img src="/images/profile.jpeg" style="width:200px; height:200px; float:left;">
</div>

<div class="profileinfo">
	<ul style="list-style-type:none">


	<li><h3 style="font-size:40px;">{{names}} {{surname}}</h3></li>

<li><p class="professionalHeading"style="font-size:16px">You can set here your professional heading. It can be of two lines or three lines depends on individual. </p></li>
<li class="distance" style="color: #999;">{{surname}}, California</li>
<li class="distance" style="color: #999; font-size: 11px;">Education</li><p class="adjustUniversity">{{scope.universityName}}</p>

<button class="btn btn-primary" name="submit" type="submit" data-trk="nprofile-edit-summary-submit">View profile as</button>
</ul> 
</div>
</div >
</div>

<div class="headingForMenu">
<h5 style="color: #999;">Add a section to your profile -</h5> <p class="headmenupara" style="color: #999;"> be discovered for your next career step.</p>
</div>
</div>














<div class="container">
<div class="section">

<div id="firstblock">
<ul style="list-style-type:none">	
<li class="recommended-section-summary" data-edit-form="summary" data-rec-sctn-div="background-summary">
<div class="recommended-section-content1">
<h5 class="recommended-section-title">Summary</h5>
<p class="recommended-section-value-statement">Summary is easy way to highlight your experience and interests.</p>
</div>
<button class="recommended-section-add">Add summary</button></li>
</ul>

</div>

<div id="firstblock">
<ul style="list-style-type:none>
<li class="recommended-section-education" data-edit-form="education" data-rec-sctn-div="background-education">
<div class="recommended-section-content2">
<h5 class="recommended-section-title">Education</h5>
<p class="recommended-section-value-statement">Members with a school get 7 times more profile views.</p>
</div>
<button class="recommended-section-add">Add school</button></li>
</ul>
</div>

<div id="firstblock">
<ul style="list-style-type:none>
<li class="recommended-section-organizations" data-rec-sctn-div="background-organizations" data-edit-form="organizations">
<div class="recommended-section-content3">
<h5 class="recommended-section-title">Experience</h5>
<p class="recommended-section-value-statement">People could be looking for someone with your experience.</p>
</div>
<button class="recommended-section-add">Add position</button></li>
</ul>
</div>

<div id="firstblock">
<ul style="list-style-type:none>
<li class="recommended-section-skills" data-edit-form="skills" data-rec-sctn-div="background-skills">
<div class="recommended-section-content4">
<h5 class="recommended-section-title">Skills</h5>
<p class="recommended-section-value-statement">Members with skills on their profile get 4 times as many profile views.</p>
</div>
<button class="recommended-section-add">Add skills</button></li>
</ul>
</div>



<div id="firstblock">
<ul style="list-style-type:none>
<li class="recommended-section-projects" data-edit-form="projects" data-rec-sctn-div="background-projects">
<div class="recommended-section-content5">
<h5 class="recommended-section-title">Projects</h5>
<p class="recommended-section-value-statement">Show your skills, experience, and people you've worked with.</p>
</div><button class="recommended-section-add">Add projects</button></li>
</ul>
</div>

<div id="firstblock">
<ul style="list-style-type:none">
<li class="recommended-section-organizations" data-rec-sctn-div="background-organizations" data-edit-form="organizations">
<div class="recommended-section-content6">
<h5 class="recommended-section-title">Organizations</h5>
<p class="recommended-section-value-statement">Add colors to your professional identity to show yourself.</p>
</div><button class="recommended-section-add">Add organizations</button></li>
</ul>
</div>
</div>
</div>


<div data-ng-controller="summaryController">
<div class="section1">






<button type="button" id="button_id2" class="btn btn-primary" data-toggle="modal" data-target=".summary"><i class="icon-pencil"></i></button>

<div class="modal fade summary" id="bb" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
 <div class="changeHidden">

    		<div class="modal-header">
        
        <h4 class="modal-title">Edit Summary</h4>
      </div>
      <br>
     <textarea style="width:500px; height:200px;" data-ng-model="summarytext"></textarea><br>
     <button class="btn btn-primary" name="summary_submit" type="submit"  data-ng-click="editsummary();getSummary()">Save</button>
	
	<button class="btn btn-secondary btn-cancel" type="button" data-trk="nprofile-edit-summary-cancel">Cancel</button>
<br>
<br>
<p></p>
<br>
    </div>
    </div>
  </div>
</div>
<div class="summaryblock1">
	<h3 class="smallH3">Summary</h3>
<p>{{summary}}</p>	
	</div>
</div>
</div>



<script>
 var profileEjs = angular.module('profileEjs', []);
   
 			 profileEjs.controller( 'headingProfile', function ($scope,$http,$location){
 			 
   				$scope.editparam = function(){ $http({
   				method: 'PUT',
	            url: '/editUser/heading',
	            data: { "editName": $scope.editName, "editSurName": $scope.editSurName }
	           		
	           		}).success(function(response){           
	            if(response.profile == "edited")
	           		alert("Profile edited Sucessfully!!");
	            else
	            	window.location = '/failureEdit';
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
 			};
 			
 			$scope.getparam = function(){   
   			console.log("we are in profile Edit");
   				$http({
   				method:'GET',
   				url:'/editUser/getProfileHead',
   				}).success(function(data) {		
			$scope.names= data[0].first_name;
			$scope.surname=data[0].last_name;
				
			}).error(function(response){
		  			console.log("Error response from getparam");
		  			console.log("response");
		  			});
			};
			});

 			profileEjs.controller( 'summaryController', function ($scope,$http,$location){
 			$scope.editsummary = function(){ $http({
   				method: 'PUT',
	            url: '/summary/editsum',
	            data: { "summaryText": $scope.summarytext}
	           		}).success(function(response){	          	            
	            if(response.summary == "edited")
	           		alert("Profile edited Sucessfully!!");
	            else
	            	window.location = '/failureEdit';
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
 			};
 			
 			$scope.getSummary = function(){   
   			console.log("we are in profile Edit");
   				$http({
   				method:'GET',
   				url:'/summary/getsummary',
   				}).success(function(data) {		
			$scope.summary=data[0].summary;
			}).error(function(response){
		  			console.log("Error response from getparam");
		  			console.log("response");
		  			});
			};
 			});
	
 			profileEjs.controller( 'educationController', function ($scope,$http,$location){
 			$scope.editEducation = function(){ $http({
   				method: 'PUT',
	            url: '/summary/editEdu',
	            data: { "school": $scope.eduSchool, "field":$scope.eduField, "grade":$scope.eduGrade, "activity":$scope.eduActi, "eduDescription":$scope.eduDesc}
	           		}).success(function(response){	          	            
	            if(response.education == "edited")
	           		alert("Education edited Sucessfully!!");
	            else
	            	window.location = '/failureEdit';
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
 			};
 			
 			$scope.getEducation = function(){   
   			console.log("we are in education get");
   				$http({
   				method:'GET',
   				url:'/summary/getEdu',
   				}).success(function(data) {	
   				console.log(data);	
			$scope.school=data[0].school_name;
			$scope.field=data[0].study_field;
			$scope.grades=data[0].grades;
			$scope.description=data[0].education_description;
			$scope.activity=data[0].activities;
			
			}).error(function(response){
		  			console.log("Error response from getparam");
		  			console.log("response");
		  			});
			};
	
 			});
 			
 			
 			
 			profileEjs.controller( 'experienceController', function ($scope,$http,$location){
 			$scope.editExperience = function(){ $http({
   				method: 'PUT',
	            url: '/summary/editExp',
	            data: { "company": $scope.Company, "title":$scope.Title, "location":$scope.Location, "description":$scope.Description}
	           		}).success(function(response){	          	            
	            if(response.experience == "edited")
	           		alert("Experience edited Sucessfully!!");
	            else
	            	window.location = '/failureEdit';
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
 			};
 			
 			$scope.getExperience = function(){   
   			console.log("we are in experience get");
   				$http({
   				method:'GET',
   				url:'/summary/getExp',
   				}).success(function(data) {	
   				console.log(data);	
			$scope.company=data[0].company_name;
			$scope.title=data[0].title;
			$scope.location=data[0].location;
			$scope.description=data[0].experience_description;
					
			}).error(function(response){
		  			console.log("Error response from getparam");
		  			console.log("response");
		  			});
			};
	
 			});
 			
 		
 			
 			
 			
 			profileEjs.controller( 'searchController', function searchMembers($scope,$http,$location){
  			 console.log("we are in GET members");
   				
   				$scope.searchMembers = function(){ $http({
   				method: 'POST',
	            url: '/searchMembers/getEmailid',
	            data: {"emailid": $scope.member}
	           		
	           		}).success(function(response){
	                 	window.location = '/successGet';
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
 			};
 			
 			$scope.viewConnections= function(){ $http({
   				method: 'GET',
	            url: '/connections/connectionPage',
	            	           		
	           		}).success(function(response){
	                 	window.location = '/showConnections';
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
 			};
 			
 			$scope.lastLoginLoad= function(){ $http({
   				method: 'GET',
	            url: '/connections/lastLog',
	            	           		
	           		}).success(function(response){
	           		
	                 	$scope.log=response[0].last_login;
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
 			};
 			
 			
 			
 			
 			});
 			
 			profileEjs.controller( 'signoutController', function logout($scope,$http,$location){
  			 console.log("we are in GET members");
   				
   				$scope.logout = function(){ $http({
   				method: 'POST',
	            url: '/createUser/logout'
	              		
	           		}).success(function(response){
	           		if(response.status=='logout')
	                 	window.location = '/successLogout';
	                 	
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("error");
	        });   		
 			};
 			
 			});
 			
 			
 			
</script>







<div data-ng-controller="educationController">

<div class="section2">
	
	<div  class="header">
	<h3 class="smallH3">Education</h3>
</div >
 
<button type="button" id="button_id3"class="btn btn-primary" data-toggle="modal" data-target=".education"><i class="icon-pencil"></i></button>

<div id="aa" class="modal fade education" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
<div  class="summaryblock2">
		

<ul style="list-style-type:none">
	<br>
<li>
<label for="school" class="labelClass">School</label>
<span><input type="text" style="width: 500px;" data-ng-model="eduSchool"></span>
</li>

<li>
<label for="school" class="labelClass">Date Attended</label>
<span><select class="my-select" style="width:95px;">
	<option value="-">-</option>
  <option value="2015">2015</option>
<option value="2014">2014</option>
<option value="2013">2013</option>
<option value="2012">2012</option>
<option value="2011">2011</option>
<option value="2010">2010</option>
<option value="2009">2009</option>
<option value="2008">2008</option>
<option value="2007">2007</option>
<option value="2006">2006</option>
<option value="2005">2005</option>
<option value="2004">2004</option>
<option value="2003">2003</option>
<option value="2002">2002</option>
<option value="2001">2001</option>
<option value="2000">2000</option>
<option value="1999">1999</option>
<option value="1998">1998</option>
<option value="1997">1997</option>
<option value="1996">1996</option>
<option value="1995">1995</option>
<option value="1994">1994</option>
<option value="1993">1993</option>
<option value="1992">1992</option>
<option value="1991">1991</option>
<option value="1990">1990</option>
<option value="1989">1989</option>
<option value="1988">1988</option>
<option value="1987">1987</option>
<option value="1986">1986</option>
<option value="1985">1985</option>
<option value="1984">1984</option>
<option value="1983">1983</option>
<option value="1982">1982</option>
<option value="1981">1981</option>
<option value="1980">1980</option>
<option value="1979">1979</option>
<option value="1978">1978</option>
<option value="1977">1977</option>
<option value="1976">1976</option>
<option value="1975">1975</option>
<option value="1974">1974</option>
<option value="1973">1973</option>
<option value="1972">1972</option>
<option value="1971">1971</option>
<option value="1970">1970</option>
<option value="1969">1969</option>
<option value="1968">1968</option>
<option value="1967">1967</option>
<option value="1966">1966</option>
<option value="1965">1965</option>
<option value="1964">1964</option>
<option value="1963">1963</option>
<option value="1962">1962</option>
<option value="1961">1961</option>
<option value="1960">1960</option>
<option value="1959">1959</option>
<option value="1958">1958</option>
<option value="1957">1957</option>
<option value="1956">1956</option>
<option value="1955">1955</option>
<option value="1954">1954</option>
<option value="1953">1953</option>
<option value="1952">1952</option>
<option value="1951">1951</option>
<option value="1950">1950</option>
<option value="1949">1949</option>
<option value="1948">1948</option>
<option value="1947">1947</option>
<option value="1946">1946</option>
<option value="1945">1945</option>
<option value="1944">1944</option>
<option value="1943">1943</option>
<option value="1942">1942</option>
<option value="1941">1941</option>
<option value="1940">1940</option>
<option value="1939">1939</option>
<option value="1938">1938</option>
<option value="1937">1937</option>
<option value="1936">1936</option>
<option value="1935">1935</option>
<option value="1934">1934</option>
<option value="1933">1933</option>
<option value="1932">1932</option>
<option value="1931">1931</option>
<option value="1930">1930</option>
<option value="1929">1929</option>
<option value="1928">1928</option>
<option value="1927">1927</option>
<option value="1926">1926</option>
<option value="1925">1925</option>
<option value="1924">1924</option>
<option value="1923">1923</option>
<option value="1922">1922</option>
<option value="1921">1921</option>
<option value="1920">1920</option>
<option value="1919">1919</option>
<option value="1918">1918</option>
<option value="1917">1917</option>
<option value="1916">1916</option>
<option value="1915">1915</option>
<option value="1914">1914</option>
<option value="1913">1913</option>
<option value="1912">1912</option>
<option value="1911">1911</option>
<option value="1910">1910</option>
<option value="1909">1909</option>
<option value="1908">1908</option>
<option value="1907">1907</option>
<option value="1906">1906</option>
<option value="1905">1905</option>
<option value="1904">1904</option>
<option value="1903">1903</option>
<option value="1902">1902</option>
<option value="1901">1901</option>
<option value="1900">1900</option>
</select> - <select class="my-select" style="width:95px;">
<option value="-">--</option>
<option value="2022">2022</option>
<option value="2021">2021</option>
<option value="2020">2020</option>
<option value="2019">2019</option>
<option value="2018">2018</option>
<option value="2017">2017</option>
<option value="2016">2016</option>
<option value="2015">2015</option>
<option value="2014">2014</option>
<option value="2013">2013</option>
<option value="2012">2012</option>
<option value="2011">2011</option>
<option value="2010">2010</option>
<option value="2009">2009</option>
<option value="2008">2008</option>
<option value="2007">2007</option>
<option value="2006">2006</option>
<option value="2005">2005</option>
<option value="2004">2004</option>
<option value="2003">2003</option>
<option value="2002">2002</option>
<option value="2001">2001</option>
<option value="2000">2000</option>
<option value="1999">1999</option>
<option value="1998">1998</option>
<option value="1997">1997</option>
<option value="1996">1996</option>
<option value="1995">1995</option>
<option value="1994">1994</option>
<option value="1993">1993</option>
<option value="1992">1992</option>
<option value="1991">1991</option>
<option value="1990">1990</option>
<option value="1989">1989</option>
<option value="1988">1988</option>
<option value="1987">1987</option>
<option value="1986">1986</option>
<option value="1985">1985</option>
<option value="1984">1984</option>
<option value="1983">1983</option>
<option value="1982">1982</option>
<option value="1981">1981</option>
<option value="1980">1980</option>
<option value="1979">1979</option>
<option value="1978">1978</option>
<option value="1977">1977</option>
<option value="1976">1976</option>
<option value="1975">1975</option>
<option value="1974">1974</option>
<option value="1973">1973</option>
<option value="1972">1972</option>
<option value="1971">1971</option>
<option value="1970">1970</option>
<option value="1969">1969</option>
<option value="1968">1968</option>
<option value="1967">1967</option>
<option value="1966">1966</option>
<option value="1965">1965</option>
<option value="1964">1964</option>
<option value="1963">1963</option>
<option value="1962">1962</option>
<option value="1961">1961</option>
<option value="1960">1960</option>
<option value="1959">1959</option>
<option value="1958">1958</option>
<option value="1957">1957</option>
<option value="1956">1956</option>
<option value="1955">1955</option>
<option value="1954">1954</option>
<option value="1953">1953</option>
<option value="1952">1952</option>
<option value="1951">1951</option>
<option value="1950">1950</option>
<option value="1949">1949</option>
<option value="1948">1948</option>
<option value="1947">1947</option>
<option value="1946">1946</option>
<option value="1945">1945</option>
<option value="1944">1944</option>
<option value="1943">1943</option>
<option value="1942">1942</option>
<option value="1941">1941</option>
<option value="1940">1940</option>
<option value="1939">1939</option>
<option value="1938">1938</option>
<option value="1937">1937</option>
<option value="1936">1936</option>
<option value="1935">1935</option>
<option value="1934">1934</option>
<option value="1933">1933</option>
<option value="1932">1932</option>
<option value="1931">1931</option>
<option value="1930">1930</option>
<option value="1929">1929</option>
<option value="1928">1928</option>
<option value="1927">1927</option>
<option value="1926">1926</option>
<option value="1925">1925</option>
<option value="1924">1924</option>
<option value="1923">1923</option>
<option value="1922">1922</option>
<option value="1921">1921</option>
<option value="1920">1920</option>
<option value="1919">1919</option>
<option value="1918">1918</option>
<option value="1917">1917</option>
<option value="1916">1916</option>
<option value="1915">1915</option>
<option value="1914">1914</option>
<option value="1913">1913</option>
<option value="1912">1912</option>
<option value="1911">1911</option>
<option value="1910">1910</option>
<option value="1909">1909</option>
<option value="1908">1908</option>
<option value="1907">1907</option>
<option value="1906">1906</option>
<option value="1905">1905</option>
<option value="1904">1904</option>
<option value="1903">1903</option>
<option value="1902">1902</option>
<option value="1901">1901</option>
<option value="1900">1900</option></select></span>
</li>

<li>
<label for="school" class="labelClass">Degree</label>
<span><select name="schoolDegree-select">
	<option value="none" selected="">-</option>
	<option value="High School">High School</option>
	<option value="Associate's Degree">Associate's Degree</option>
	<option value="Bachelor's Degree">Bachelor's Degree</option>
	<option value="Master's Degree">Master's Degree</option>
	<option value="Master of Business Administration (M.B.A.)">Master of Business Administration (M.B.A.)</option>
	<option value="Juris Doctor (J.D.)">Juris Doctor (J.D.)</option>
	<option value="Doctor of Medicine (M.D.)">Doctor of Medicine (M.D.)</option>
	<option value="Doctor of Philosophy (Ph.D.)">Doctor of Philosophy (Ph.D.)</option>
	<option value="Engineer's Degree">Engineer's Degree</option>
	<option value="other">Other</option>
</select></span>
</li>

<li>
<label for="school" class="labelClass">Field of Study</label>
<span><input type="text" style="width: 500px;" data-ng-model="eduField"></span>
</li>

<li>
<label for="school" class="labelClass">Grades</label>
<span><input type="text" style="width: 500px;" data-ng-model="eduGrade"></span>
</li>

<li>
<label for="school" class="labelClass">Activities and Socities</label>
<span><textarea style="width: 500px; height:50px;"data-ng-model="eduActi"></textarea></span>
<p>Examples: Alpha Phi Omega, Chamber Choral, Debate Team</p>
</li>

<li>
<label for="school" class="labelClass">Description</label>
<span><textarea style="width: 500px; height:50px;" data-ng-model="eduDesc"></textarea></span>
</li><br>

<button class="btn btn-primary"  data-trk="nprofile-edit-summary-submit" data-ng-click="editEducation();getEducation()">Save</button>
<button class="btn btn-secondary btn-cancel" type="button" data-trk="nprofile-edit-summary-cancel">Cancel</button><br><p></p><br>

</ul>
</div>
</div>
</div>
</div>

<h4>{{school}}</h4><br>
<h5>{{field}}</h5><br>
<p>{{grades}}</p><br>
<p>{{activity}}</p><br>
<p>{{description}}</p>
</div>
</div>

<div data-ng-controller="experienceController">
<div class="section3">
	<div class="header">
	<h3 class="smallH3">Experience</h3>
</div>

<button type="button" id="button_id4" class="btn btn-primary" data-toggle="modal" data-target=".experience"><i class="icon-pencil"></i></button>

<div id="aa" class="modal fade experience" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

<div class="summaryblock3">

<div class="modal-header">
        
        <h4 class="modal-title">Edit Education</h4>
      </div>
      <br>

<ul style="list-style-type:none">


<li>
<label for="Company" class="labelClass">Company Name</label>
<span><input type="text" style="width: 500px;" data-ng-model="Company"></span>
</li>

<li>
<label for="Title" class="labelClass">Title</label>
<span><input type="text" style="width: 500px;" data-ng-model="Title"></span>
</li>

<li>
<label for="school" class="labelClass">Location</label>
<span><input type="text" style="width: 500px;" data-ng-model="Location"></span>
</li>


<li>
<label for="school" class="labelClass">Time Period</label>
<span>
<select style="width:95px;">
<option value="choose...">choose...</option>
<option value="January">January</option>
<option value="February">February</option>
<option value="March">March</option>
<option value="April">April</option>
<option value="May">May</option>
<option value="June">June</option>
<option value="July">July</option>
<option value="August">August</option>
<option value="September">September</option>
<option value="October">October</option>
<option value="November">November</option>
<option value="December">December</option>
</select> <input type="text" style="width:33px;" value="Year"> --<select style="width:95px;">

<option value="choose...">choose...</option>
<option value="January">January</option>
<option value="February">February</option>
<option value="March">March</option>
<option value="April">April</option>
<option value="May">May</option>
<option value="June">June</option>
<option value="July">July</option>
<option value="August">August</option>
<option value="September">September</option>
<option value="October">October</option>
<option value="November">November</option>
<option value="December">December</option>
</select> <input type="text" style="width:33px;" value="Year"> </span>
</li>

<li>
<label for="school" class="labelClass">Description</label>
<span><textarea style="width: 500px; height:50px;" data-ng-model="Description"></textarea></span>
</li>
<br>
<button class="btn btn-primary" name="submit" type="submit" data-trk="nprofile-edit-summary-submit" data-ng-click="editExperience();getExperience()">Save</button>
<button class="btn btn-secondary btn-cancel" type="button" data-trk="nprofile-edit-summary-cancel">Cancel</button><br><p></p><br>
</ul>
</div>
</div>
</div>
</div>

<h3>{{company}}</h3>
<p>{{title}}</p>
<p>{{location}}</p>
<p>{{description}}</p>
</div>
</div>

<div class="section4">
	<div class="header">
	<h3 class="smallH3">Skills and Endorsements</h3><br>
</div>
<div class="summaryblock4">
<ul style="list-style-type:none">
	<li><label for="skills" class="labelClass">Skills and Endorsements Settings</label></li>
<br>
	<li>
	<label for="endorsement" class="labelClass">I want to be endorsed</label>
<input type="radio" name="endorse" value="Yes">Yes
<input type="radio" name="endorse" value="No">No
	</li>
	<br>
<li>
<input type="checkbox" name="endorse_include" value="option1">Include me in endorsement suggestions to my connections<br>
<input type="checkbox" name="endorse_include" value="option2">Show me suggestions to endorse my connection<br>
<input type="checkbox" name="endorse_include" value="option3">Send me notifications via email when my connection endorse me

</li><br><br>

<li>
<input type="text" style="width: 420px" value="What are your area of expertise?">
<button class="btn btn-primary" name="submit" type="submit" data-trk="nprofile-edit-summary-submit">Add</button><br>
</li>

<li>
<span><textarea style="width: 600px; height:80px;"></textarea></span>
</li>

<button class="btn btn-primary" name="submit" type="submit" data-trk="nprofile-edit-summary-submit">Save</button>
<button class="btn btn-secondary btn-cancel" type="button" data-trk="nprofile-edit-summary-cancel">Cancel</button>
</ul>
</div>
</div>







<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>




<script type="text/javascript">(function(){var UP='up',DOWN='down',PX='px',RETRACT_NAV='chrome-v5-retract-nav-enabled',maxSteps=10,duration=200,slideZIndex=1,navbar=document.getElementById('responsive-nav-scrollable'),header=document.getElementById('header'),topHeader=document.getElementById('top-header'),topHeaderHeight=topHeader.offsetHeight,originalHeight=navbar.offsetHeight,originalZ=navbar.style.zIndex,direction=null,doAnimate=false,visibleNavOnTop=true,lastY=window.pageYOffset,interval=Math.floor(duration/maxSteps),animating=false,preventOpenTillUp=false,hasOwnProperty=Object.prototype.hasOwnProperty,distance=0,threshold=60,mouseMoveCount=0,makeLiHomepage=document.getElementById('make-linkedin-homepage'),homepageURL="https:\/\/www.linkedin.com\/",responsiveClassNames=['globalnav-show','globalnav-hide','globalnav-showStart','globalnav-hideStart','globalnav-showStop','globalnav-hideStop'],defaults,getOffset,originalOffset,addEvent,removeEvent,hasClass,addClass,removeClass,addResponsiveClass,removeResponsiveClasses,fireEvent,contains,mouseEnterLeave,animate,mouseOpen,mouseClose,mouseOpenTimer,mouseCloseTimer,staticPositionNav,fixedPositionNav;lastY=lastY||document.body.scrollTop;lastY=lastY||Math.max(document.documentElement.scrollTop,lastY);defaults=function(dest,defs){for(var prop in defs){if(!hasOwnProperty.call(dest,prop)){dest[prop]=defs[prop];}}
return dest;};getOffset=function(el){var _x=0,_y=0;while(el&&!isNaN(el.offsetLeft)&&!isNaN(el.offsetTop)){_x+=el.offsetLeft-el.scrollLeft;_y+=el.offsetTop-el.scrollTop;el=el.offsetParent;}
return{top:_y,left:_x};};originalOffset=getOffset(navbar);addEvent=(function(){if(window.addEventListener){return function(el,ev,fn){el.addEventListener(ev,fn,false);};}
else if(window.attachEvent){return function(el,ev,fn){el.attachEvent('on'+ev,fn);};}
else{return function(el,ev,fn){var oldFn=el['on'+ev]||function(){};el['on'+ev]=function(){oldFn();fn();};};}})();removeEvent=(function(){if(window.removeEventListener){return function(el,ev,fn){el.removeEventListener(ev,fn,false);}}else if(window.detachEvent){return function(el,ev,fn){el.detachEvent('on'+ev,fn);}}else{return function(el,ev,fn){el['on'+ev]=null;}}})();addResponsiveClass=function(responsiveClass){if(responsiveClassNames.indexOf(responsiveClass)!==-1){removeResponsiveClasses();addClass(document.getElementById('body'),responsiveClass);}};removeResponsiveClasses=function(){var i=0,responsiveClassName=responsiveClassNames[i],bodyEl=document.getElementById('body');while(responsiveClassName){removeClass(bodyEl,responsiveClassName);responsiveClassName=responsiveClassNames[++i];}};fireEvent=function(type,opts){var triggerFn,eventName='globalnav:'+type,className='globalnav-'+type;opts=opts||{};if(LI.Events){triggerFn=LI.Events.trigger||LI.Events.fire;if(typeof triggerFn==='function'){triggerFn.call(LI.Events,eventName,defaults(opts,{name:eventName}));}}
if(hasClass(document.body,RETRACT_NAV)){addResponsiveClass(className);}};mouseEnterLeave=function(element,type,callback){var preCallback,mouseEnter=type==='mouseenter',type=mouseEnter?'mouseover':'mouseout',ie=mouseEnter?'fromElement':'toElement';preCallback=function(event){event=event||window.event;var target=event.target||event.srcElement,related=event.relatedTarget||event[ie];if((element===target||contains(element,target))&&!contains(element,related)){callback();}};addEvent(element,type,preCallback);return preCallback;}
contains=function(container,element){return container.contains?container.contains(element):!!(container.compareDocumentPosition(element)&16);}
hasClass=function(el,test){var rHasClass=new RegExp('(?:^|\\s+)'+test+'(?:\\s+|$)');if(el&&el.nodeType===1&&rHasClass.test(el.className)){return true;}
return false;};addClass=function(el,newClass){if(el&&el.nodeType===1&&typeof newClass==='string'&&!hasClass(el,newClass)){el.className=el.className+' '+newClass;}};removeClass=function(el,killClass){if(el&&el.nodeType===1&&typeof killClass==='string'&&hasClass(el,killClass)){el.className=el.className.replace(new RegExp('(?:^|\\s+)'+killClass+'(?:\\s+|$)'),' ');}};animate=function(opts){var start=new Date(),id;if(opts.onStart){opts.onStart();}
id=setInterval(function(){var timePassed=new Date()-start,progress=timePassed/opts.duration,delta;if(progress>1){progress=1;}
delta=opts.delta(progress);opts.step(delta);if(progress===1){clearInterval(id);if(opts.onComplete){opts.onComplete();}}},opts.delay||10);return id;};staticPositionNav=function(){navbar.style.position='static';navbar.style.zIndex=originalZ;navbar.style.width='auto';navbar.style.top=null;};fixedPositionNav=function(){navbar.style.position='fixed';navbar.style.zIndex=slideZIndex;navbar.style.width=navbar.parentNode.clientWidth+PX;};if(makeLiHomepage){addEvent(makeLiHomepage,"click",function(evt){var e=evt||window.event;if(window.ActiveXObject&&homepageURL){document.body.style.behavior='url(#default#homepage)';document.body.setHomePage(homepageURL);}
if(e.preventDefault){e.preventDefault();}else{e.returnValue=false;}
return false;});}
addEvent(window,'scroll',function(){var currentY=window.pageYOffset;currentY=currentY||document.body.scrollTop;currentY=currentY||Math.max(document.documentElement.scrollTop,currentY);if(0>lastY){lastY=0;}
if(currentY>lastY&&direction!==DOWN){doAnimate=true;direction=DOWN;distance=0;if(preventOpenTillUp){doAnimate=false;}}
else if(lastY>currentY&&direction!==UP){distance+=(lastY-currentY);if(distance>threshold||currentY==0){doAnimate=true;direction=UP;preventOpenTillUp=false;distance=0;}}
else{distance=0;}
lastY=currentY;if(!doAnimate){return;}
doAnimate=false;if(animating){clearInterval(animating);}
animating=animate({delay:interval,duration:duration,delta:function(progress){return progress;},onStart:function(){fixedPositionNav();fireEvent(((direction===UP)?'show':'hide')+'Start');},step:function(delta){var heightDelta=(originalHeight*delta),newNavHeight,eventName;if(direction===DOWN){newNavHeight=originalHeight-heightDelta;navbar.style.top=(originalOffset.top-heightDelta)+PX;visibleNavOnTop=false;eventName='hide:animation:step';}else{newNavHeight=heightDelta;navbar.style.top=((originalOffset.top-originalHeight)+heightDelta)+PX;eventName='show:animation:step';}
fireEvent(eventName,{delta:delta,headerHeight:newNavHeight+topHeaderHeight});},onComplete:function(){if(direction==UP){staticPositionNav();fireEvent('showStop');visibleNavOnTop=true;}else{fireEvent('hideStop');}}});});mouseOpen=function(){if(!visibleNavOnTop){staticPositionNav();fireEvent('show');}};mouseClose=function(){if(!visibleNavOnTop){fixedPositionNav();fireEvent('hide');navbar.style.top=originalOffset.top-originalHeight+PX;}};mouseEnterLeave(header,'mouseenter',function(){if(!preventOpenTillUp||mouseMoveCount>1){if(mouseOpenTimer){clearTimeout(mouseOpenTimer);}
if(mouseCloseTimer){clearTimeout(mouseCloseTimer);}
mouseOpenTimer=setTimeout(mouseOpen,100);}});mouseEnterLeave(header,'mouseleave',function(){if(mouseOpenTimer){clearTimeout(mouseOpenTimer);}
if(mouseCloseTimer){clearTimeout(mouseCloseTimer);}
mouseCloseTimer=setTimeout(mouseClose,300);});incrementMouseMove=function(){mouseMoveCount++;if(mouseMoveCount>1){removeEvent(document,'mousemove',incrementMouseMove);}};preventOpenTillUp=hasClass(document.body,RETRACT_NAV);if(preventOpenTillUp){addEvent(document,'mousemove',incrementMouseMove);}
if(preventOpenTillUp){fixedPositionNav();navbar.style.top=originalOffset.top-originalHeight+PX;visibleNavOnTop=false;}})();</script>
<script type="text/javascript">LI_WCT(["control-http-12274-exec-65311350-1",]);</script>
<script type="text/javascript">if(LI.showAllDeferredImg){LI.showAllDeferredImg('header',false);LI.showAllDeferredImg('footer',false);}
if(typeof(oUISettings)!=='undefined'){oUISettings.saveSettingsURL="/lite/secure-ui-settings-save-old?csrfToken=ajax%3A2898848069855685306";}
if(typeof(WebTracking)!=='undefined'){WebTracking.saveWebActionTrackURL="/lite/secure-web-action-track?csrfToken=ajax%3A2898848069855685306";}</script>
<script type="text/javascript">window.HOPSCOTCH_SCDS_JSPATH="https://static.licdn.com/scds/concat/common/js?v=build-2000_8_44228-prod";window.HOPSCOTCH_HELPERS_PATH='scripts/apps/chrome/quickhelp';window.HOPSCOTCH_JS_DEPS=['lib/hopscotch/0.2.3/hopscotch.min'];window.HOPSCOTCH_CSS_DEPS=['css!scss/themes/katy/chrome/hopscotch'];LI.i18n.register('QuickHelp-next','Next');LI.i18n.register('QuickHelp-prev','Prev');LI.i18n.register('QuickHelp-close','Close');LI.i18n.register('QuickHelp-skip','Skip');LI.i18n.register('QuickHelp-done','Done');</script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=1e5kw6urhif0boq5eaan271d3-b67o4zsmjk2xmxgii0y9a55w1-3i7ubdukif1jevuf29ftmtvjs-dlcimwl96rttjyfr26x4i92ol-42l92n533gxzvk696ien4m5lw-1m7sfcez3isjwlg5yrudwy1mz-clz7gb1h1gqkujqk14gbprnf5"></script>
<script type="text/javascript">fs._server.fire("dc06e7eb13dac71350de2980bb2a0000-3",{event:"after",type:"html"});</script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=7ohe7esuw1g26lqingx9rwag1-4pbqg1qnquwfg8fxpwyuylzmb-e4t0yj6tjycwmm5gb2d6tkiqd-4ctyhul13sruu19hcui2s5a9p-c4g6mzx8g7hi8m4bff1j5ofy3-a2k49madoixvid4czwf2qzbxx-u1mljx7j9xoeni8apby8of5h-9t8kuspsvkr9x9idyawoejfbv&amp;fc=1"></script>
<script type="text/javascript">if(!window.LI){window.LI={};}
LI.RUM=LI.RUM||{};(function(RUM,win){var doc=win.document;RUM.flags=RUM.flags||{};RUM.flags['host-flag']="control";RUM.flags['pop_beacons_frequency']="n100-ap0-la0-va0-tx0";RUM.flags['rs_timings_individual']="control";RUM.urls=RUM.urls||{};RUM.urls['rum-track']="/lite/rum-track?csrfToken=ajax%3A2898848069855685306";RUM.urls['boomerang-bw-img']="https://static.licdn.com/scds/common/u/lib/boomerang/0.9.edge.4ab208445a/img/";RUM.base_urls=RUM.base_urls||{};RUM.base_urls['permanent_content']="https://static.licdn.com/scds/common/u/";RUM.base_urls['versioned_content']="https://static.licdn.com/scds/concat/common/";RUM.base_urls['media_proxy']="https://media.licdn.com/media-proxy/";RUM.serverStartTime=1.425347586192E12;RUM.enabled=true;function getRumScript(){var node=doc.body||doc.head||doc.getElementsByTagName('head')[0],script=doc.createElement('script');script.src=["https://static.licdn.com/scds/concat/common/js?h=ed29nkjpsa16bhrjq4na16owq-1mucgfycc664m7vmhpjgqse65-1l5rurej3h44qodo5rn0cdvyn-8om6v2ckrxsbnwf40t9ta8a7e-3hodcd0jtzok6c1m703uzche3-azy45eocivg8ynjidfygmcaex-eaoqba5qd53ry9engxzq6km5n-5ymfqks98x29f5a39qvxdjtq-1m0whdrwis44c1hoa9mrwhlt4-aac54ic1fmca5xz1yvc5t9nfe-9xdvp93ecvqi1g6yr4ltw6w78&fc=1"][0];node.appendChild(script);}
if(win.addEventListener){win.addEventListener('load',getRumScript);}
else{win.attachEvent('onload',getRumScript);}}(LI.RUM,window));</script>
<script id="localChrome"></script>
<script type="text/javascript">LI.i18n.register('share-dialog-title','Share');LI.i18n.register('share-dialog-error-timeout','We\'re sorry. Something unexpected happened and your request could not be completed. Please try again later.');LI.i18n.register('share-dialog-error-groupSubject-shareForm','Please enter a discussion title.');LI.define('SharingDialog.Version');LI.SharingDialog.Version='v2';LI.i18n.register('AddressLabel-limitOver','You can send this message to {0} total recipients. You currently have {1};');LI.i18n.register('AddressLabel-limitAt','You have the maximium number of total recipients({0}).');LI.i18n.register('AddressLabel-limitClose','You can send this message to {0} total recipients. You can add {1} more.');</script>
<script type="text/javascript">LI.i18n.register('remove-mention-dialog-remove-mention','Remove mention');</script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=74zsm3455etbvviofeu6cikmo-7wrxv2a6kah7m5wdfvfmw3npm&amp;fc=1"></script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=77n3f6p1q9ylok9a68sjr17f3-79n9c5w488gqoro24nrj3nl41-5hjdewre05qw10u2ymza8vtn6-8872t40y1btgzwt8qb4j9arqt-4yy0he0fsx5o0pay4fx12r1j7-az1hyyjrr1ge2h9l7xdzfvkdq-cgqgtp3l0ak6sk24kuc5e7vms&amp;fc=1"></script>
<script type="text/javascript" src="https://static.licdn.com/scds/concat/common/js?h=1dtq13v313a6rvtogvew31ahb-8kz8gbm48symu75p7pkesl212-62fwsniqae8rp1akn9cnt9mq2-dl4nwg7wxnjuuhzg6ya2gvsno-4sxxr8nxpgcxrdsfnybbko8z2-2axsz5yfnd6bwcna2ram04kr0&amp;fc=1"></script>
<script id="control-http-12209-exec-4111321-77" type="linkedin/control" class="li-control">LI.TreasuryNmpDependencies={treasuryJS:["https://static.licdn.com/scds/concat/common/js?h=1eki8y2mnzed9fqqfjsn8vxyt-d4v064l1ejyhcfk0mpuzvwafw-b0fmwulzun5h9v3vouth2gf36-ixmf6u42jq9c8c7c18lenido-5v15kjynzn7xo268ucp4ic1wj-7tr5v7hlecrgc2rkwlsej39ry&fc=1"],treasuryCSS:["https://static.licdn.com/scds/concat/common/css?h=5ysv44hfnyeqny12acwc10gjl&fc=1"]}
LI.Controls.addControl('control-http-12209-exec-4111321-77','TreasuryNmp',{selfView:false,memberId:370248510,sessionId:370248510,sessionFullName:'Mahesh Dhamgunde',sessionAvatar:'https://media.licdn.com/mpr/mpr/shrink_40_40/AAEAAQAAAAAAAAM1AAAAJDRhNmY5ZDZhLWY1OTEtNDRkYi1hZDFhLWZiNTAzMjczYTJjNw.jpg',sessionProfile:'https://www.linkedin.com/profile/view?id=370248510&amp;trk=treasury-social-self-profile',url:{get_all:'/profile/profile-v2-treasury?id=_memberId&authType=&authToken=&locale=en_US&isPublic=&csrfToken=ajax%3A2898848069855685306&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=treasury-full-view-init-homepage',post_view_event:'/profile/profile-v2-treasury-view-tracking-submit?ownerID=_ownerId&treasuryID=_treasuryId&location=homepage&csrfToken=ajax%3A2898848069855685306&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1'},i18n:{treasury_viewer_title:'Mahesh\'s professional portfolio',treasury_error_rendering:'There is an error while we process your request. Please refresh the page and try again.',treasury_dialog_position:'{0}-{1} of {2}',error_posting_comment:'Sorry, there was a problem when we saved your comment. Please try again.',treasury_view_original_article:'View Original Article',treasury_flag_confirmation_msg:'Thank you, the selected item has been flagged for review',treasury_flag_confirmation_msg_undo:'Undo',treasury_flag_do_action:'Flag',treasury_flag_inappropriate:'Flag as inappropriate',treasury_flag_copyright:'Flag as copyright abuse',treasury_flag_undo_action:'Undo flag',treasury_variant_link_read_original:'Read Original',treasury_item_deleted:'Sorry, looks like this item has been deleted.'},lix:{socialCommentShowMoreCount:'control'},tracks:{media_full_view_dlg:'media-full-view-dlg',media_full_view_item:'media-full-view-item',media_full_view_next:'media-full-view-next',media_full_view_prev:'media-full-view-prev'}});</script>
<div>
<iframe data-src="/csp/dtag?sz=1x1&p=8" style="display:none;"></iframe>
</div>
<script id="control-http-12209-exec-4111322-78" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-4111322-78','NonBlockingAdLoad',{});</script>
<script type="text/javascript">LI_WCT(["control-http-12209-exec-4111321-77","control-http-12209-exec-4111322-78",]);</script>
<script type="text/javascript">LI.Controls.processQueue();</script>
<script>window.addEventListener('load',function(){function fireComscore(){COMSCORE.beacon({c1:2,c2:6402952,c3:"",c4:"",c5:"",c6:"",c15:""});}
function onScriptLoad(){var trackChromeInit=function(externalTracking){externalTracking.setTreatment("enabled_1.0");externalTracking.trackWithComScoreForChromeInit();};if(window.externalTracking){trackChromeInit(window.externalTracking);}
else if(window.require&&typeof window.require.ensure==='function'){try{require.ensure(['externalTracking'],function(require){try{var externalTracking=require('externalTracking');trackChromeInit(externalTracking);}
catch(e){fireComscore();}});}
catch(e){fireComscore();}}
else{fireComscore();}}
var script=document.createElement('script');if(script.readyState){script.onreadystatechange=function(){if(script.readyState=='loaded'){onScriptLoad();}}}else{script.onload=onScriptLoad;}
script.src='https://sb.scorecardresearch.com/beacon.js';document.getElementsByTagName('head')[0].appendChild(script);});</script>
<noscript>
<img src="https://sb.scorecardresearch.com/b?c1=2&amp;c2=6402952&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cv=1.3&amp;cj=1" style="display:none" width="0" height="0" alt=""/>
</noscript>
<script>window.addEventListener('load',function(){var script=document.createElement('script');_qoptions={qacct:"p-b3sGjMtCFrexE"};script.src='https://secure.quantserve.com/quant.js';document.getElementsByTagName('head')[0].appendChild(script);});</script>
<noscript>
<a href="http://www.quantcast.com/p-b3sGjMtCFrexE" target="_blank"><img src="https://secure.quantserve.com/pixel/p-b3sGjMtCFrexE.gif" style="display: none;" height="1" width="1" alt=""/></a>
</noscript>
<script>window.addEventListener('load',function(){var protocol='https:',d=new Image(1,1);d.onerror=d.onload=function(){d.onerror=d.onload=null;};d.src=[protocol,"//secure-us.imrworldwide.com/cgi-bin/m?ci=us-603751h&cg=0&cc=1&si=",escape(window.location.href),"&ts=compact&rnd=",(new Date()).getTime()].join('');});</script>
<noscript>
<img src="//secure-us.imrworldwide.com/cgi-bin/m?ci=us-603751h&cg=0&cc=1&ts=noscript" width="1" height="1" alt="" style="display:none"/>
</noscript>
<script>window.addEventListener('load',function(){var d=new Image(1,1);d.onerror=d.onload=function(){d.onerror=d.onload=null;};d.src="/csp/dtag?p=10";});</script>
<noscript>
<img src="/csp/dtag?p=10" width="1" height="1" alt="" style="display:none"/>
</noscript>

</body>
</html>